<h2 class="govuk-heading-m">Regional flood forecast</h2>
<div class="defra-flood-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#today">
        <span class="defra-flood-tabs__label">Today</span>
      </a>
      <span class="defra-flood-tabs__label-risk">Very low risk</span>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tomorrow">
        <span class="defra-flood-tabs__label">Tomorrow</span>
      </a>
      <span class="defra-flood-tabs__icon">Warning</span>
      <span class="defra-flood-tabs__label-risk">Low risk</span>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#outlook">
        <span class="defra-flood-tabs__label">Outlook</span>
      </a>
      <span class="defra-flood-tabs__label-risk">Low risk</span>
    </li>
  </ul>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="today">
    <h3 class="govuk-heading-s">Today</h3>
    <figure class="defra-flood-risk-range defra-flood-risk-range--very-low">
      <ol>
        <li>Very low</li>
        <li>Low</li>
        <li>Medium</li>
        <li>High</li>
      </ol>
      <figcaption class="govuk-visually-hidden">Very low (1 of 4)<figcaption>
    </figure>
    <p>Today the flood risk is very low but flood warnings have been issued. There is a very low likelihood of some localised flooding and minor travel disruption due to high tides or large waves.</p>
    <button id="map-live-btn" class="defra-button-map">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tomorrow">
    <h3 class="govuk-heading-s">Tomorrow</h3>
    <figure class="defra-flood-risk-range defra-flood-risk-range--low">
      <ol>
        <li>Very low</li>
        <li>Low</li>
        <li>Medium</li>
        <li>High</li>
      </ol>
      <figcaption class="govuk-visually-hidden">Low (2 of 4)<figcaption>
    </figure>
    <p>On Tuesday the flood risk increases to low risk. High tides or large waves will likely lead to some localised flooding and minor travel disruption. There is a very low likelyhood of significant or widespread flooding and travel disruption due to runoff from rainfall or blocked drains.</p>
    <button id="map-live-btn" class="defra-button-map">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="outlook">
    <h3 class="govuk-heading-s">Outlook</h3>
    <figure class="defra-flood-risk-range defra-flood-risk-range--low">
      <ol>
        <li>Very low</li>
        <li>Low</li>
        <li>Medium</li>
        <li>High</li>
      </ol>
      <figcaption class="govuk-visually-hidden">Low (2 of 4)<figcaption>
    </figure>
    <p>On Wednesday the flood risk remains at low risk. High tides or large waves will likely lead to some localised flooding and minor travel disruption.</p>
    <p>On Thursday and Friday the flood risk falls to very low.</p>
    <button id="map-live-btn" class="defra-button-map">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
  </div>
</div>
<p class="defra-flood-meta">
  <time datetime="">Updated today at 10:30am</time>.</br>Produced by the Met Office and Environment Agency
</p>