<h2 class="govuk-heading-m govuk-!-margin-top-2">Flood forecast for the region</h2>
<div class="govuk-tabs defra-flood-tabs govuk-!-padding-top-2" data-module="govuk-tabs">
	<h2 class="govuk-tabs__title">
		Contents
	</h2>
	<ul class="govuk-tabs__list">
		<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
			<a class="govuk-tabs__tab" href="#yesterday">
				Yesterday
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#today">
				Today
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#tomorrow">
				Tomorrow
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#thursday">
				Thursday
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#friday">
				Saturday
			</a>
		</li>
	</ul>
	<div class="govuk-tabs__panel" id="yesterday">
		<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Yesterday</h3>
		<p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="today">
		<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
		<p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tomorrow">
		<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
		<p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="thursday">
		<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
		<p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="friday">
		<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
		<p>Low risk from river flooding with a high likelihood of minor impacts</p>
	</div>
</div>
<button id="map-btn" class="defra-button-map govuk-!-margin-bottom-6">View map of flood risk areas</button>
<p class="defra-flood-meta govuk-!-margin-bottom-6">
	<time datetime="">Updated 3:30pm on 29 March 2020</time><br/>
	Produced by the Met Office and Environment Agency
</p>