<h2 class="govuk-heading-m">Regional flood forecast</h2>
<div class="defra-flood-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#today">
        <span class="defra-flood-tabs__label">Today</span>
        <span class="defra-flood-tabs-risk defra-flood-tabs-risk--very-low">
          Overall risk is 1 out of 4
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tomorrow">
        <span class="defra-flood-tabs__label">Tomorrow</span>
        <span class="defra-flood-tabs__trend defra-flood-tabs__trend--rising">Rising</span>
        <span class="defra-flood-tabs-risk defra-flood-tabs-risk--low">
          Overall risk is 2 out of 4
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#outlook">
        <span class="defra-flood-tabs__label">Outlook</span>
        <span class="defra-flood-tabs__trend defra-flood-tabs__trend--stable">Stable</span>
        <span class="defra-flood-tabs-risk defra-flood-tabs-risk--low">
          Overall risk is 2 out of 4
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="today">
    <h3 class="govuk-heading-s">Today</h3>
    <div class="defra-flood-risk-bar defra-flood-risk-bar--very-low govuk-!-margin-bottom-4">
      <span class="defra-flood-risk-bar__level defra-flood-risk-bar__level--selected">1</span>
      <span class="defra-flood-risk-bar__level">2</span>
      <span class="defra-flood-risk-bar__level">3</span>
      <span class="defra-flood-risk-bar__level">4</span>
    </div>
    <p>Today the flood risk is 1 out of 4 and flood warnings have been issued. High tides or large waves will likely lead to some localised flooding and minor travel disruption.</p>
    <button id="map-live-btn" class="defra-button-map">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tomorrow">
    <h3 class="govuk-heading-s">Tomorrow</h3>
    <div class="defra-flood-risk-bar defra-flood-risk-bar--low govuk-!-margin-bottom-4">
      <span class="defra-flood-risk-bar__level">1</span>
      <span class="defra-flood-risk-bar__level defra-flood-risk-bar__level--selected">2</span>
      <span class="defra-flood-risk-bar__level">3</span>
      <span class="defra-flood-risk-bar__level">4</span>
    </div>
    <p>On Tuesday the flood risk increases to 2 out of 4. High tides or large waves will likely lead to some localised flooding and minor travel disruption. There is a very low likelyhood of significant or widespread flooding and travel disruption due to runoff from rainfall or blocked drains.</p>
    <button id="map-live-btn" class="defra-button-map">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="outlook">
    <h3 class="govuk-heading-s">Outlook</h3>
    <div class="defra-flood-risk-bar defra-flood-risk-bar--low govuk-!-margin-bottom-4">
      <span class="defra-flood-risk-bar__level">1</span>
      <span class="defra-flood-risk-bar__level defra-flood-risk-bar__level--selected">2</span>
      <span class="defra-flood-risk-bar__level">3</span>
      <span class="defra-flood-risk-bar__level">4</span>
    </div>
    <p>On Wednesday the flood risk remains at 2 out of 4. High tides or large waves will likely lead to some localised flooding and minor travel disruption.</p>
    <p>On Thursday and Friday the flood risk lowers to 1 out of 4.</p>
    <button id="map-live-btn" class="defra-button-map">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
  </div>
</div>
<p class="defra-flood-meta">
  <time datetime="">Updated today at 10:30am</time>.</br>Produced by the Met Office and Environment Agency
</p>