.defra-facets-body {
    position: fixed;
    overflow: hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.defra-facets {
    &__show-filters {
        @extend .defra-button-text;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 15px;
        @include mq ($from: tablet) {
            display: none;
        }
    }
}
.js-enabled .defra-facets {
    &__header,
    &__clear-filters,
    &__close-filters,
    &__filter-results {
        @include mq ($from: tablet) {
            display: none;
        }
    }
    &__container {
        display: none;
        @include mq ($from: tablet) {
            display: block;
        }
    }
    &__container[aria-modal="true"] {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: #fff;
        .defra-facets__header,
        .defra-facets__clear-filters,
        .defra-facets__close-filters {
            display: block;
        }
    }
}
.defra-facets-details {
    @extend .govuk-details;
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: 10px;
    &__summary {
        @extend .govuk-details__summary;
        position: relative;
        display: block;
        padding: 10px 13px 13px 48px;
    }    
    &__summary:before {
        top: 13px;
        left: 13px;
        width:22px !important;
        height:14px !important;
        background-image: svg-url('<svg width="22" height="14" viewBox="0 0 22 14"><path d="M2,2L11,11L20,2" style="fill:none;stroke:#0b0c0c;stroke-width:2.5px;"/></svg>');
        background-size: 100%;
        margin: 0px !important;
        clip-path: none !important;
        border: 0px !important;
        @include mq ($from: tablet) {
            top: 15px;
        }
    }
    &__summary-text {
        @extend .govuk-details__summary-text;
        text-decoration: none;
    }
    &__summary:hover &__summary-text {
        text-decoration: underline;
    }
    &__select-counter {
        display: block;
        @include govuk-font($size: 14);
        color: $govuk-text-colour;
    }
    &[open] &__summary:before {
        background-image: svg-url('<svg width="22" height="14" viewBox="0 0 22 14"><path d="M2,12L11,3L20,12" style="fill:none;stroke:#000;stroke-width:2.5px;"/></svg>');
    }
    &__summary:focus {
        outline: 0px;
        box-shadow: none;
        background-color: transparent;
    }
    &__summary:focus &__summary-text {
        @extend .govuk-link:focus;
        text-decoration: none;
    }
    &__text {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    ul {
        padding: 5px 13px 5px 13px;
        margin: 0px 0px 10px 0px;
        max-height: 200px;
        overflow: auto;
    }
    ul:after {
        display: block;
        content: '';
        clear: both;
    }
}
.defra-facets-filter {
    padding: 3px 13px 10px 13px;
    position: relative;
    &__input {
        @extend .govuk-input;
        padding-left: 33px;
        background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="40" height="40"%3E%3Cpath d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"%3E%3C/path%3E%3C/svg%3E') #fff no-repeat -5px -3px;
    }
}