.defra-flood-risk-bar {
    display: flex;
    width: 120px;
    max-width: 75%;
    box-sizing: border-box;
    padding-top: 6px;
    &__level {
        flex: 1;
        height: 24px;
        background-color: govuk-colour('light-grey');
        border: 1px solid white;
        @include govuk-font($size: 14, $line-height: 24px);
        text-align: center;
    }
    &__level--selected {
        font-weight: bold;
        line-height: 29px;
        margin-top:-4px;
        height: 29px;
        border: 2px solid govuk-colour('black');
    }
    &--very-low span:nth-child(1) {
        background-color: govuk-colour('light-green');
    }
    &--low span:nth-child(2) {
        background-color: govuk-colour('yellow');
    }
}