.defra-flood-impact-list {
    @include govuk-font($size: 19);
    &__row {
        position:relative;
        border-bottom:1px solid $govuk-border-colour;
    }
    &__key {
        position:absolute;
        left:0px;
        top:0px;
        margin-top:10px;
        @include govuk-font($size: false, $tabular: true, $weight: bold);
        width:20%;
    }
    &__value {
        position:relative;
        margin:0 0 0 20%;
        padding: 10px 0 10px 0;
        @include mq ($from: tablet) {
            padding-right: 20%;
        }
        border-bottom:1px solid $govuk-border-colour;
    }
    &__value:last-child {
        border-bottom:0px;
    }
    &__warning {
        @include mq ($from: tablet) {
            text-indent: -5000px;
            position:absolute;
            width:20px;
            height:20px;
            left:-30px;
            top:12px;
            background-color:blue;
        }
    }
    &__action {
        display:block;
        @include mq ($from: tablet) {
            position:absolute;
            right:0px;
            top:1px;
            margin-top:10px;
        }
    }
    &__historic {
        color: $govuk-secondary-text-colour;
    }
    .defra-button-text-s {
        display:block;
    }
}