.defra-flood-risk-bar {
    margin: 0px 0px 15px 0px;
    span {
        display: inline-block;
        text-indent: -5000px;
        position:relative;
        height: 18px;
        width: 18px;
        background-color: govuk-tint(govuk-colour('dark-grey',), 90);
        margin-top:-2px;
        height: 21px;
        width: 21px;
        border: 2px solid white;
    }
    &--very-low span:nth-child(1) {
        margin-right: 2px;
        background-color: govuk-tint(govuk-colour('green'), 80);
        border-color: govuk-colour('green');
    }
    &--low span:nth-child(2) {
        margin-left: 2px;
        margin-right: 2px;
        background: govuk-tint(govuk-colour('yellow'), 75);
        border-color: govuk-colour('yellow');
    }
    &--medium span:nth-child(3) {
        margin-left: 2px;
        margin-right: 2px;
        background-color: govuk-tint(govuk-colour('orange'), 70);
        border-color: govuk-colour('orange');
    }
    &--high span:nth-child(4) {
        margin-left: 2px;
        background-color: govuk-tint(govuk-colour('red'), 70);
        border-color: govuk-colour('red');
    }
}