.defra-flood-impact-list {
    @include govuk-font($size: 19);
    &__row {
        position:relative;
        border-bottom:1px solid $govuk-border-colour;
    }
    &__key {
        @include govuk-font($size: false, $tabular: true, $weight: bold);
        margin-top:10px;
        @include mq ($from: tablet) {
            position:absolute;
            left:0px;
            top:0px;
            width:20%;
        }
    }
    &__value {
        position:relative;
        margin:0;
        padding: 10px 0 10px 0;
        @include mq ($from: tablet) {
            margin-left: 20%;
            padding-right: 20%;
        }
        border-bottom:1px solid $govuk-border-colour;
    }
    &__value:last-child {
        border-bottom:0px;
    }
    &__action {
        display:block;
        margin-top:5px;
        @include mq ($from: tablet) {
            position:absolute;
            right:0px;
            top:1px;
            margin-top:10px;
        }
    }
    &__historic {
        color: $govuk-secondary-text-colour;
    }
    .defra-button-text-s {
        display:block;
    }
    &__row--current {
        border-bottom:3px solid govuk-colour("blue");
        padding-top:10px;
        margin-bottom:5px;
        top:-2px;
        background-color:white;
        @include mq ($from: tablet) {
            padding-top:15px;
            margin-bottom:10px;
        }
    }
    &__row--current .defra-flood-impact-list__key {
        display:none;
    }
    &__row--current .defra-flood-impact-list__value {
        @include govuk-font($size: 16, $weight: bold);
        position: absolute;
        text-align:center;
        top:2px;
        left:50%;
        margin-left:-5.5em;
        width:11em;
        padding:0;
        background-color:white;
        @include mq ($from: tablet) {
            top:6px;
            left:20%;
            width:auto;
            margin-left:-0.5em;
            padding-left:0.5em;
            padding-right:0.5em;
        }
    }
    &__row--current .defra-flood-impact-list__value:after {
        content: "("attr(data-level)"m)";
    }
    &__row--current .defra-flood-impact-list__action {
        display: none;
    }
}