.defra-flood-risk-bar {
    padding-top: 6px;
    &__level {
        display: inline-block;
        position:relative;
        height: 20px;
        border: 1px solid white;
        @include govuk-font($size: 14, $line-height: 20px);
        text-align: center;
        padding:3px 8px;
        color: govuk-shade(govuk-colour('dark-grey',), 30);
        background: govuk-tint(govuk-colour('dark-grey',), 90);
    }
    &--very-low &__level:nth-child(1),
    &--low &__level:nth-child(2),
    &--medium &__level:nth-child(3),
    &--high &__level:nth-child(4) {
        font-weight: bold;
        line-height: 23px;
        margin-top:-2px;
        height: 23px;
        border: 2px solid white;
    }
    &--very-low &__level:nth-child(1) {
        color: govuk-shade(govuk-colour('green'), 20);
        background: govuk-tint(govuk-colour('green'), 80);
        border-color: govuk-shade(govuk-colour('green'), 20);
    }
    &--low &__level:nth-child(2) {
        color: govuk-shade(govuk-colour('yellow'), 65);
        background: govuk-tint(govuk-colour('yellow'), 75);
        border-color: govuk-shade(govuk-colour('yellow'), 65);
    }
    &--medium &__level:nth-child(3) {
        color: govuk-shade(govuk-colour('orange'), 55);
        background: govuk-tint(govuk-colour('orange'), 70);
        border-color: govuk-shade(govuk-colour('orange'), 55);
    }
    &--high &__level:nth-child(4) {
        color: govuk-shade(govuk-colour('red'), 55);
        background: govuk-tint(govuk-colour('red'), 70);
        border-color: govuk-shade(govuk-colour('red'), 55);
    }
}