.defra-flood-risk-bar {
    padding-top: 6px;
    span {
        display: inline-block;
        text-indent: -5000px;
        position:relative;
        height: 20px;
        border: 1px solid white;
        @include govuk-font($size: 14, $line-height: 20px);
        width: 20px;
        text-align: center;
        // padding:3px 8px;
        color: govuk-shade(govuk-colour('dark-grey',), 30);
        background: govuk-tint(govuk-colour('dark-grey',), 90);
        font-weight: bold;
        line-height: 23px;
        margin-top:-2px;
        height: 23px;
        width: 23px;
        border: 2px solid white;
    }
    &--very-low span:nth-child(1) {
        background-color: govuk-tint(govuk-colour('green'), 80);
        border-color: govuk-colour('green');
    }
    &--low span:nth-child(2) {
        background: govuk-tint(govuk-colour('yellow'), 75);
        border-color:govuk-colour('yellow');
    }
    &--medium span:nth-child(3) {
        background-color: govuk-tint(govuk-colour('orange'), 70);
        border-color:govuk-colour('orange');
    }
    &--high span:nth-child(4) {
        background-color: govuk-tint(govuk-colour('red'), 70);
        border-color:govuk-colour('red');
    }
}