.defra-flood-impact-list {
    @include govuk-font($size: 19);
    &__row {
        position:relative;
        border-bottom:1px solid $govuk-border-colour;
    }
    &__key {
        @include govuk-font($size: false, $tabular: true, $weight: bold);
        margin-top:10px;
        @include mq ($from: tablet) {
            position:absolute;
            left:0px;
            top:0px;
            width:20%;
        }
    }
    &__value {
        position:relative;
        margin:0 0 0 30px;
        padding: 10px 0 10px 0;
        @include mq ($from: tablet) {
            margin-left: 20%;
            padding-right: 20%;
        }
        border-bottom:1px solid $govuk-border-colour;
    }
    &__value:last-child {
        border-bottom:0px;
    }
    &__action {
        display:block;
        margin-top:5px;
        @include mq ($from: tablet) {
            position:absolute;
            right:0px;
            top:1px;
            margin-top:10px;
        }
    }
    .defra-button-text-s {
        display:block;
    }
    &__row--current {
        border-bottom:3px solid govuk-colour("blue");
        padding-top:10px;
        margin-bottom:5px;
        top:-2px;
        background-color:white;
        @include mq ($from: tablet) {
            padding-top:15px;
            margin-bottom:10px;
        }
    }
    &__row--current .defra-flood-impact-list__key {
        display:none;
    }
    &__row--current .defra-flood-impact-list__value {
        @include govuk-font($size: 16, $weight: bold);
        position: absolute;
        text-align:center;
        top:2px;
        left:50%;
        margin-left:-5.5em;
        width:11em;
        padding:0;
        background-color:white;
        @include mq ($from: tablet) {
            top:6px;
            left:20%;
            width:auto;
            margin-left:-0.5em;
            padding-left:0.5em;
            padding-right:0.5em;
        }
    }
    &__row--current .defra-flood-impact-list__value:after {
        content: "("attr(data-level)"m)";
    }
    &__row--current .defra-flood-impact-list__action {
        display: none;
    }
    &__alert {
        text-indent: -5000px;
        position:absolute;
        width:20px;
        height:20px;
        left:-30px;
        top:10px;
        background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M1.5,24c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.241 0.057,-0.469 0.158,-0.671l10.5,-21c0.247,-0.491 0.755,-0.829 1.342,-0.829c0.587,0 1.095,0.338 1.342,0.829l10.5,21c0.101,0.202 0.158,0.43 0.158,0.671c0,0.828 -0.672,1.5 -1.5,1.5l-21,0" style="fill:#f18700;"/><path d="M2.309,22l19.382,0l-9.691,-19.382l-9.691,19.382Z" style="fill:#fff;"/><path d="M15.376,14.996l1.045,0l-4.433,-5.069l-1.708,1.964l0,-0.794l-1.015,0l0,1.96l-1.686,1.939l1.026,0l0,3.504l6.771,0l0,-3.504Z" style="fill:#181c1b;"/><path d="M19.323,19.5l-14.646,0l-0.75,1.5l16.146,0l-0.75,-1.5Z" style="fill:#00a4cd;"/></svg>');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: top left;
        @include mq ($from: tablet) {
            width:24px;
            height:24px;
            background-size: 24px 24px;
            left:-35px;
        }
    }
    &__warning {
        @extend .defra-flood-impact-list__alert;
        background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M1.5,24c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.241 0.057,-0.469 0.158,-0.671l10.5,-21c0.247,-0.491 0.755,-0.829 1.342,-0.829c0.587,0 1.095,0.338 1.342,0.829l10.5,21c0.101,0.202 0.158,0.43 0.158,0.671c0,0.828 -0.672,1.5 -1.5,1.5l-21,0" style="fill:#e3000f;"/><path d="M2.309,22l19.382,0l-9.691,-19.382l-9.691,19.382Z" style="fill:#fff;"/><path d="M15.376,14.996l1.045,0l-4.433,-5.069l-1.708,1.964l0,-0.794l-1.015,0l0,1.96l-1.686,1.939l1.026,0l0,2.025l6.771,0l0,-2.025Z" style="fill:#181c1b;"/><path d="M18.573,18l-13.146,0l-1.5,3l16.146,0l-1.5,-3Z" style="fill:#00a4cd;"/></svg>');

    }
    &__severe {
        @extend .defra-flood-impact-list__alert;
        background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24"><path d="M1.5,24c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.241 0.057,-0.469 0.158,-0.671l10.5,-21c0.247,-0.491 0.755,-0.829 1.342,-0.829c0.587,0 1.095,0.338 1.342,0.829l10.5,21c0.101,0.202 0.158,0.43 0.158,0.671c0,0.828 -0.672,1.5 -1.5,1.5l-21,0" style="fill:#e3000f;"/><path d="M2.309,22l19.382,0l-9.691,-19.382l-9.691,19.382Z" style="fill:#fff;"/><path d="M15.415,14.864l1.046,0l-4.433,-5.07l-1.708,1.964l0,-0.794l-1.015,0l0,1.96l-1.686,1.94l1.026,0l0,0.636l6.77,0l0,-0.636Z" style="fill:#e3000f;"/><path d="M17.823,16.5l-11.646,0l-2.25,4.5l16.146,0l-2.25,-4.5Z" style="fill:#00a4cd;"/></svg>');

    }
}