.defra-pagination {
    &__list {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    &__item {
        display: inline-block;
        position: relative;
        @include govuk-font($size: 19);
        span {
            @include defra-visually-hidden();
        }
        a {
            color: $govuk-link-colour;
            padding: 5px 10px;
            display: block;
            text-decoration: none;
            text-align: center;
        }
    }
    &__item--current {
        font-weight: bold;
        text-align: center;
        padding: 5px 10px;
    }
    &__item--previous a {
        padding-left: 20px;
        &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 22px;
            top: 6px;
            left: 0px;
            background-image: svg-url('<svg width="14" height="22" viewBox="0 0 14 22" version="1.1"><path d="M12,20L3,11L12,2" style="fill:none;fill-rule:nonzero;stroke:#0b0c0c;stroke-width:2.5px;"/></svg>');
            background-size: 14px 22px;
            background-repeat: no-repeat;
        }
    }
    &__item--next a {
        padding-right: 20px;
        &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 22px;
            top: 7px;
            right: 0px;
            background-image: svg-url('<svg width="14" height="22" viewBox="0 0 14 22" version="1.1"><path d="M2,20L11,11L2,2" style="fill:none;fill-rule:nonzero;stroke:#0b0c0c;stroke-width:2.5px;"/></svg>');
            background-size: 14px 22px;
            background-repeat: no-repeat;
        }
    }
}