// Info panel
.defra-map-info {
  z-index: 4;
  padding:  15px 15px 12px;
  &__content dd {
    margin: 0px;
  }
  &__name {
    display: block;
    @extend .govuk-body-s;
    margin-bottom: 0px;
  }
  &__name--emphasis {
    font-weight: bold;
  }
  &__description {
    @extend .govuk-body;
    margin-bottom: 0px;
    margin-top: 10px;
    border-top:1px solid $govuk-border-colour;
    padding-top: 10px;
  }
  &__meta {
    display: block;
    @include govuk-font($size: 14);
    margin-top: 10px;
    margin-bottom: 0px;
  }
  &__buttons {
    margin-top: 10px;
    border-top:1px solid $govuk-border-colour;
  }
  &__button {
    @extend .defra-button-map-s;
    position: relative;
    color:$govuk-text-colour;
    text-decoration: underline;
  }
  &__button--up {
    padding-left:16px;
    margin-top:10px;
    margin-right:10px;
  }
  &__button--down {
    padding-left:16px;
    margin-top:10px;
  }
  &__button--up:hover:before {
    background-image: svg-url('<svg width="14" height="14" viewBox="0 0 14 14"><path d="M6,4.828L2.414,8.414L1,7L7,1L13,7L11.586,8.414L8,4.828L8,13L6,13L6,4.828Z" style="fill:#003078;"/></svg>');
  }
  &__button--up:focus[keyboard-focus]:before {
    background-image: svg-url('<svg width="14" height="14" viewBox="0 0 14 14"><path d="M6,4.828L2.414,8.414L1,7L7,1L13,7L11.586,8.414L8,4.828L8,13L6,13L6,4.828Z" style="fill:#0b0c0c;"/></svg>');
  }
  &__button--up:before,
  &__button--up:active:before {
    content: '';
    position: absolute;
    top:1px;
    left:0px;
    background-image: svg-url('<svg width="14" height="14" viewBox="0 0 14 14"><path d="M6,4.828L2.414,8.414L1,7L7,1L13,7L11.586,8.414L8,4.828L8,13L6,13L6,4.828Z" style="fill:#0b0c0c;"/></svg>');
    background-color:transparent;
    background-size:14px;
    background-repeat: no-repeat;
    background-position: top left;
    width:14px;
    height:14px;
    @include mq ($from: tablet) {
      top:3px;
    }
  }
  &__button--down:hover:before {
    background-image: svg-url('<svg width="14" height="14" viewBox="0 0 14 14"><path d="M6,9.172L2.414,5.586L1,7L7,13L13,7L11.586,5.586L8,9.172L8,1L6,1L6,9.172Z" style="fill:#003078;"/></svg>');
  }
  &__button--down:focus[keyboard-focus]:before {
    background-image: svg-url('<svg width="14" height="14" viewBox="0 0 14 14"><path d="M6,9.172L2.414,5.586L1,7L7,13L13,7L11.586,5.586L8,9.172L8,1L6,1L6,9.172Z" style="fill:#0b0c0c;"/></svg>');
  }
  &__button--down:before,
  &__button--down:active:before {
    content: '';
    position: absolute;
    top:2px;
    left:0px;
    background-image: svg-url('<svg width="14" height="14" viewBox="0 0 14 14"><path d="M6,9.172L2.414,5.586L1,7L7,13L13,7L11.586,5.586L8,9.172L8,1L6,1L6,9.172Z" style="fill:#0b0c0c;"/></svg>');
    background-color:transparent;
    background-size:14px;
    background-repeat: no-repeat;
    background-position: top left;
    width:14px;
    height:14px;
    @include mq ($from: tablet) {
      top:3px;
    }
  }
  &__data {
    position: relative;
    width:100%;
    border-top:1px solid $govuk-border-colour;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  &__data-primary {
    width: 100%;
    margin:0px;
    padding-top:10px;
    dd {
      margin: 0px;
    }
  }
  &__data-trend {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    text-indent: -5000px;
    background-size: 100%;
    background-image: svg-url('<svg width="18" height="18"><path d="M10,14.976L16,9.058L10,3.024" style="fill:none;fill-rule:nonzero;stroke:#0b0c0c;stroke-width:2px;"/><path d="M0,9.012L5,9.012L6.982,7L9,9.012L15,9.012" style="fill:none;stroke:#0b0c0c;stroke-width:2px;stroke-linejoin:round;stroke-miterlimit:1.5;"/></svg>');
    top: 11px;
    right: 0px;
    @include mq ($from: tablet) {
      top: 17px;
    }
  }
  &__data-trend--rising {
    @include mq ($from: tablet) {
      top:19px;
    }
    background-image: svg-url('<svg width="18" height="18"><path d="M8,2L16,2L16,10" style="fill:none;fill-rule:nonzero;stroke:#0b0c0c;stroke-width:2px;"/><path d="M15.795,2C11.963,6.622 6.849,10.143 1,12.015" style="fill:none;stroke:#0b0c0c;stroke-width:2px;stroke-linejoin:round;stroke-miterlimit:1.5;"/></svg>');
  }
  &__data-trend--falling {
    @include mq ($from: tablet) {
      top:13px;
    }
    background-image: svg-url('<svg width="18" height="18"><path d="M8,16L16,16L16,8" style="fill:none;fill-rule:nonzero;stroke:#0b0c0c;stroke-width:2px;"/><path d="M15.795,16C11.963,11.378 6.849,7.857 1,5.985" style="fill:none;stroke:#0b0c0c;stroke-width:2px;stroke-linejoin:round;stroke-miterlimit:1.5;"/></svg>');
  }
  &__data-value {
    display: block;
    @include govuk-font($size: 24);
  }
  &__data-description {
    display: block;
    @include govuk-font($size: 14);
  }
  // Attributions
  ul {
    @extend .govuk-list;
    @include govuk-font($size: 14);
    margin-bottom: 0px;
  }
  ul > li {
    margin-bottom: 0px;
  }
}