

{% extends "layout.html" %}

{% block pageTitle %}
  Asset 5
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/components/_flood-status.scss</li>
      <li>sass/components/_updated.scss</li>
      <li>sass/components/_flood-tabs.scss</li>
      <li>sass/components/_context-footer.scss</li>
      <li>sass/components/_related-items.scss</li>
      <li>sass/objects/_buttons.scss</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->Check for flooding in Warrington - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start sub nav - must go in beforeContent block -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="defra-flood-nav">
      <a href="/find-location" class="defra-flood-nav__link">Check another location</a>
    </nav>
  </div>
</div>
<!-- end sub nav-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Check for flooding in Warrington
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">Flood warning for [name]</a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">Flooding is expected</span>
        </div>
      </div>
    </div>
    <p><a href="">3 flood alerts</a> are in this area where some flooding is possible.</p>
    <!--
    <p class="defra-flood-meta govuk-!-margin-bottom-6">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    -->
    <button id="map-btn" class="defra-button-map">View map of flood warning and alert areas</button>
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-4">
      Up to date as of <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    {% include "partials/levels.html" %}
    <!-- Regional forecast -->
    {% include "partials/outlook.html" %}
    <!-- end regional forecast -->
    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a></p>
    {% include "partials/floodline.html" %}
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://flood-test.aws.defra.cloud/long-term-flood-risk">
              Check your long term flood risk
            </a>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
              Report a flood
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<!-- End -->
{% endblock %}

{% block feedback %}
<div class="defra-feedback">
  <div class="defra-feedback__container">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfo8KEuvRQf0TmxZ8XFhYM2em45JFcJEOCrkKT8BursofUEwg/viewform">Is there anything missing on this page?</a>
  </div>
</div>
{% endblock %}
