
{% extends "layout.html" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  Asset 11f
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-s govuk-!-margin-bottom-8">Data: Saturday 9 November 2019<br/>Location: Doncaster</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Doncaster</h1>
    <h2 class="govuk-heading-m">Flood forecast for the region</h2>
    <div class="defra-flood-tabs govuk-!-padding-top-2" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#today">
          <span class="defra-flood-tabs__label">Today</span>
          <span class="defra-flood-tabs__icon"></span>
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#tomorrow">
          <span class="defra-flood-tabs__label">Tomorrow</span>
          <span class="defra-flood-tabs__icon"></span>
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#outlook">
          <span class="defra-flood-tabs__label">Outlook</span>
          <span class="defra-flood-tabs__icon"></span>
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="today">
        <h3 class="govuk-heading-s">Today</h3>
        <p><strong>Flooding is expected today</strong></p>
        <p>High or overflowing rivers will likely lead to significant or widespread flooding and travel disruption today. If this happens, your life might be in danger.</p>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tomorrow">
        <h3 class="govuk-heading-s">Tomorrow</h3>
        <p><strong>Flooding is expected tomorrow</strong></p>
        <p>High or overflowing rivers will likely lead to significant or widespread flooding and travel disruption. If this happens, your life might be in danger.</p>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="outlook">
        <h3 class="govuk-heading-s">Outlook</h3>
        <p><strong>Flooding is expected on Monday</strong></p>
        <p>On Monday high or overflowing rivers will likely lead to significant or widespread flooding and travel disruption. If this happens, your life might be in danger.</p>
        <p>On Tuesday and Wednesday high or overflowing rivers are expected to lead to some localised flooding and minor travel disruption.</p>
      </div>
    </div>
    <button id="map-live-btn" class="defra-button-map govuk-!-margin-bottom-4">View a map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
    <p class="defra-flood-meta">
      <time datetime="">Updated today at 10:30am</time>. Produced by the Met Office and Environment Agency
    </p>
  </div>
</div>

{% endblock %}
