
{% extends "layout.html" %}

{% set bodyAttributes = {'id': 'top'} %}

{% block pageTitle %}
  Asset 27
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_top-link.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-bottom-top-0">Component</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p id="filter">Search and filters</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div style="height: 1200px">
      <p>List</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#top" class="defra-top-link govuk-link--no-visited-state" data-ref="filter">Back to top</a>
  </div>
</div>
{% endblock %}
