
{% extends "layout.html" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  Asset 11b
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-s govuk-!-margin-bottom-8">Data: Monday 30 Septemeber 2019<br/>Location: Felixstowe</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Flood forecast for the region</h2>
    <div class="defra-flood-tabs govuk-!-padding-top-2" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#today">
            Today
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#tomorrow">
            Tomorrow
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#outlook">
            Outlook
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="today">
        <h3 class="govuk-heading-s">Today</h3>
        <p><strong>There is a low risk from coastal flooding</strong></p>
        <p>In coastal areas, this would probably lead to some localised flooding to land, roads and properties.</p>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tomorrow">
        <h3 class="govuk-heading-s">Tomorrow</h3>
        <p><strong>There is a low risk from surface water and coastal flooding</strong></p>
        <p>This would probably lead to some localised flooding to land, roads and properties.</p>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="outlook">
        <h3 class="govuk-heading-s">Outlook</h3>
        <p>
          <strong>Thursday</strong></br>
          There is a low risk from coastal flooding
        </p>
        <p>
          <strong>Friday and Saturday</strong></br>
          The flood risk is very low
        </p>
      </div>
    </div>
    <button id="map-live-btn" class="defra-button-map govuk-!-margin-bottom-4">View map of flood risk areas<span class="govuk-visually-hidden">(Visual only)</span></button>
    <p class="defra-flood-meta">
      <time datetime="">Updated today at 10:30am</time>. Produced by the Met Office and Environment Agency
    </p>
  </div>
</div>

{% endblock %}
