
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 9
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-status.scss</li>
    </ul>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Scenarios (exclusive)</h2>
    {{ govukTable({
      caption: "",
      firstCellIsHeader: false,
      head: [
        {
          text: ""
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "(a)"
          },
          {
            html: "One alert or warning or severe warning nearby. Link to individual target area page"
          }
        ],
        [
          {
            text: "(b)"
          },
          {
            html: "Multiple severes/warnings or alerts nearby. More than one of the highest state. Link to list. Example one: 2 severes, 4 warnings and 8 alerts or example two: 4 alerts "
          }
        ],
        [
          {
            text: "(c)"
          },
          {
            html: "Multiple severes/warnings or alerts nearby. But only one of the highest state. Link to list. Example 1 severe, 7 warnings and 3 alerts"
          }
        ]
      ]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-!-padding-top-4">(a)</p>
    <!-- start -->
    <!-- Singular flood alert doesnt display the name-->
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood alert</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">There is a flood alert in this area</a></strong>
        </div>
      </div>
    </div>
    <!-- Singular flood warning and severe does display the name -->
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">Flood warning for Keswick campsite</a></strong>
        </div>
      </div>
    </div>
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">Severe flood warning for Keswick campsite</a></strong>
        </div>
      </div>
    </div>
    <p class="govuk-!-padding-top-4">(b)</p>
    <!-- start -->
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">There are flood alerts in this area</strong>
        </div>
      </div>
    </div>
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">There are flood warnings in this area</a>
        </div>
      </div>
    </div>
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">There are severe flood warning in this area</a></strong>
        </div>
      </div>
    </div>
    <!-- end -->
    <p class="govuk-!-padding-top-4">(c)</p>
    <!-- start -->
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">There is a flood warning in this area</a></strong>
        </div>
      </div>
    </div>
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong><a href="">There is a severe flood warning in this area</a></strong>
        </div>
      </div>
    </div>
    <!-- end -->
  </div>
</div>

{% endblock %}
