
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 14
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_feedback.scss</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block feedback %}
<div class="defra-feedback">
  <div class="defra-feedback__container">
    <a href="">Feedback component</a>
  </div>
</div>
{% endblock %}
