{% extends "layout.html" %}

{% block pageTitle %}
  Asset 22
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <style>
    .defra-prototype-box {
      background-color: #ACC7F2;
      padding: 30px 20px;
    }
    .defra-prototype-box-inner {
      background-color: white;
      padding: 15px;
      max-width: 378px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/map/_map-info.scss</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row govuk-grid-row--defra-prototype">
  <div class="govuk-grid-column-full govuk-grid-column-full--overide">
    <div class="defra-prototype-box govuk-!-margin-bottom-4">
      <div class="defra-prototype-box-inner">
        <!-- Start -->
        <div id="infoDescription">
          <h2 class="defra-map-info__name defra-map-info__name--emphasis">Medium risk from river flooding</h2>
          <p class="defra-map-info__description">High or overflowing rivers would possibly lead to severe or widespread flooding. If this happens, your life might be in danger and you should be prepared to evacuate. It could also cause severe travel disruption.</p>
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
