
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 14b
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-bottom-6">Page meta title</h2>
    <p>&lt;title&gt;<!-- Start -->About the check for flooding beta service - Flood Information Service - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">About the Check for flooding beta service</h1>
    <p>We’re testing a new design of the Flood information service called Check for flooding.</p>
    <p>It’s currently in the 'beta' phase. This means it’s the first version of it, so we're continually testing and improving it.</p>
    <p><a href="check-for-flooding.service.gov.uk/start-page">Use the Check for flooding service</a> and give us feedback to help us improve it.</p>
    <p>It might sometimes be unavailable because we’re adding new features.</p>
    <p>We'll keep this to a minimum so you can use it to check for flooding 24 hours a day.</p>
    <p>You can:
      <ul class="govuk-list govuk-list--bullet">
      <li>use the Flood information service right up until we replace it with <a href="check-for-flooding.service.gov.uk/start-page">Check for flooding</a></li>
      <li>call Floodline 24 hours a day by telephone on 0345 988 1188, or text phone on textphone on 0345 602 6340</li>
      </ul>
  </div>
</div>
{% endblock %}
