
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 15
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_feedback.scss</li>
      <li>/app/views/layout.html</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block feedback %}
<div class="defra-feedback">
  <div class="defra-feedback__container">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfo8KEuvRQf0TmxZ8XFhYM2em45JFcJEOCrkKT8BursofUEwg/viewform">Is there anything missing on this page?</a>
  </div>
</div>
{% endblock %}
