{% extends "layout.html" %}

{% block pageTitle %}
  Asset 16
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_related-items.scss</li>
      <li>sass/components/_updated.scss</li>
    </ul>
    <h2 class="govuk-heading-m">All scenarios</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sorry, there is a problem with the service
    </h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">Or you can <a href="https://flood-warning-information.service.gov.uk/warnings">use the current flood information service</a>.</p>
  </div>
</div>

{% endblock %}
