
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 6b
{% endblock %}

{% block beforeContent %}
<span class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter a real town, city or postcode
  </span>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Where do you want to check?</h1>
    <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="address-postcode">
          Town, city or postcode
        </label>
        <span id="address-postcode-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a real town, city or postcode
        </span>
        <input class="govuk-input govuk-input--width-10 govuk-input--error" id="address-postcode" name="address-postcode" type="text" value="fhdiwncbd" aria-describedby="address-postcode-error" autocomplete="postal-code">
      </div>
    <button class="govuk-button" data-module="govuk-button">
    Continue
    </button>
    <p><a href="#">Or check the flood risk for England</a></p>
</div>
    

{% endblock %}
