
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 20c
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
      <p>&lt;title&gt;<!-- Start -->Error: [Find location - Check for flooding|Check for flooding in location] - GOV.UK<!-- End -->&lt;/title&gt;</p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="browserBackContainer">
    <nav><a href="" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-right-2">Back</a></nav>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Sorry, there is a problem with the service
    </h1>
    <p class="govuk-!-padding-top-4">Try again later, or <a href="#">check the flood risk for England</a>.</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-visually-hidden">Speak to someone</h2>
    <p>Call Floodline for advice about flooding from rivers, the sea and groundwater.</p>
    <p>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>24 hour service<br><a href="https://gov.uk/call-charges">Find out more about call charges</a></p>
  </div>
</div>
{% endblock %}
