
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 14b
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-bottom-6">Page meta title</h2>
    <p>&lt;title&gt;<!-- Start -->Check for flooding beta - Flood Information Service - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">About the Check for flooding beta service</h1>
    <p>Content</p>
  </div>
</div>
{% endblock %}
