{% extends "layout.html" %}

{% block pageTitle %}
  Asset 23
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(a) - Dry</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <span class="defra-map-info__type">Rainfall measurement</span>
            <span class="defra-map-info__location">Bassingbourn Raingauge</span>
            <div class="defra-map-info__data">
              <div class="defra-map-info__data-column">
                <span class="defra-map-info__data-type">Intensity</span>
                <span class="defra-map-info__data-value">Moderate</span>
                <span class="defra-map-info__data-description">0.5 - 4mm/hr</span>
              </div>
              <div class="defra-map-info__data-column">
                <span class="defra-map-info__data-type">Last hour</span>
                <span class="defra-map-info__data-value">3.2mm</span>
              </div>
              <div class="defra-map-info__data-column">
                <span class="defra-map-info__data-type">Last 15mins</span>
                <span class="defra-map-info__data-value">1.7mm</span>
              </div>
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(b) - River level</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <span class="defra-map-info__type">River level measurement</span>
            <span class="defra-map-info__location"><a href="">Woodhouse Mill, River Rother</a></span>
            <div class="defra-map-info__data">
              <div class="defra-map-info__data-column">
                <span class="defra-map-info__data-type">State</span>
                <span class="defra-map-info__data-value">High</span>
                <span class="defra-map-info__data-description">above 2.00m</span>
              </div>
              <div class="defra-map-info__data-column">
                <span class="defra-map-info__data-type">Height</span>
                <span class="defra-map-info__data-value">2.44m</span>
                <span class="govuk-visually-hidden">at</span>
                <span class="defra-map-info__data-description">4:00pm today</span>
              </div>
              <div class="defra-map-info__data-column">
                <span class="defra-map-info__data-type">Trend</span>
                <span class="defra-map-info__data-value">Rising</span>
              </div>
            </div>
            <div class="defra-map-info__buttons">
              <button class="defra-map-info__button defra-map-info__button--up" data-id="stations.9345" aria-controls="viewport infoDescription">
                <span class="govuk-visually-hidden">Select next</span> Upstream  <span class="govuk-visually-hidden">measurement</span>
              </button>
              <button class="defra-map-info__button defra-map-info__button--down" data-id="stations.8253" aria-controls="viewport infoDescription">
                <span class="govuk-visually-hidden">Select next</span> Downstream <span class="govuk-visually-hidden">measurement</span>
              </button>
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(c) - Moderate</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <p class="defra-map-info__feature govuk-!-margin-bottom-1">Feature type</p>
            <p class="govuk-body-s govuk-!-margin-bottom-0">Content</p>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
