{% extends "layout.html" %}

{% block pageTitle %}
  Asset 23
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(a) - Rainfall</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <h2 class="defra-map-info__name">
              <span class="defra-map-info__type">Rainfall measurement</span>
              <span class="govuk-visually-hidden">at</span>
              Bassingbourn Raingauge
            </h2>
            <dl class="defra-map-info__data">
              <div class="defra-map-info__data-column">
                <dt class="govuk-visually-hidden">Intensity</dt>
                <dd>
                  <span class="defra-map-info__data-value">Moderate</span>
                  <span class="defra-map-info__data-description">0.5 - 4mm/hr</span>
                </dd>
              </div>
              <div class="defra-map-info__data-column">
                <dt class="govuk-visually-hidden">Last hour</dt>
                <dd>
                  <span class="defra-map-info__data-value">3.2mm</span>
                  <span class="defra-map-info__data-description">hourly total</span>
                </dd>
              </div>
              <div class="defra-map-info__data-column">
                <dt class="govuk-visually-hidden">Last 15mins</dt>
                <dd>
                  <span class="defra-map-info__data-value">1.7mm</span>
                  <span class="defra-map-info__data-description">15min total</span>
                </dd>
              </div>
            </dl>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(b) - River, sea or groundwater level</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <h2 class="defra-map-info__name">
              <span class="defra-map-info__type">River level measurement</span>
              <span class="govuk-visually-hidden">at</span>
              <a href="">Newport Pagnell, River Great Ouse</a>
            </h2>
            <dl class="defra-map-info__data">
              <div class="defra-map-info__data-column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-map-info__data-value">High</span>
                  <span class="defra-map-info__data-description">above 2.00m</span>
                </dd>
              </div>
              <div class="defra-map-info__data-column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-map-info__data-value">2.44m</span>
                  <span class="govuk-visually-hidden">at</span>
                  <span class="defra-map-info__data-description">4:00pm today</span>
                </dd>
              </div>
              <div class="defra-map-info__data-column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-map-info__data-value">Rising</span>
                </dd>
              </div>
            </dl>
            <div class="defra-map-info__buttons">
              <button class="defra-map-info__button defra-map-info__button--up" data-id="stations.9345" aria-controls="viewport infoDescription">
                <span class="govuk-visually-hidden">Select next</span> Upstream  <span class="govuk-visually-hidden">measurement</span>
              </button>
              <button class="defra-map-info__button defra-map-info__button--down" data-id="stations.8253" aria-controls="viewport infoDescription">
                <span class="govuk-visually-hidden">Select next</span> Downstream <span class="govuk-visually-hidden">measurement</span>
              </button>
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(c) - Alert or wanrning</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <h2 class="defra-map-info__type"><strong>Flood warning</strong></h2>
            <p class="defra-map-info__name"><a href="">River Foss at Layerthorpe to Foss Islands Road, Stonebow and Piccadilly</a></p>
            <p class="defra-map-info__meta">Updated 5:04am on 22 January 2021</p>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(d) - Outlook area of concern</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-4" style="background-color: #ACC7F2;padding: 30px 20px">
      <div style="background-color: white;max-width:378px;padding: 15px">
        <div style="margin-right:36px;">
          <!-- Start -->
          <div id="infoDescription">
            <h2 class="defra-map-info__name">Medium risk from river flooding</h2>
            <p class="defra-map-info__description">High or overflowing rivers would possibly lead to severe or widespread flooding. If this happens, your life might be in danger and you should be prepared to evacuate. It could also cause severe travel disruption.</p>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
