
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 23
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_search.scss</li>
      <li>sass/components/_service-error.scss</li>
      <li>sass/components/_flood-list.scss</li>
      <li>images/icon-search.svg</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Unfiltered and service error</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
    <p>&lt;title&gt;<!-- Start -->Water level measurements - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->Sorry, there is currently a problem searching a location - Water level measurements - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Water level measurements
    </h1>
  </div>
</div>

<!-- Bing 500 error -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-7">
      <h2 class="defra-service-error__title" id="error-summary-title">
        Sorry, there is currently a problem searching a location
      </h2>
      <p>Try again later, or use the list to find a water level.</p>
    </div>
  </div>
</div>
<!-- End Bing 500 error -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="post" autocomplete="off">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-margin-bottom-2" for="location">
          Search a location
        </label>
        <div class="defra-search">
          <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
          <div class="defra-search__submit-container">
              <button class="defra-search__button">Search</button>
          </div>
        </div>
      </div>
      <div id="filter" class="defra-facets" role="search" aria-label="Search filters">
        <div class="defra-facets__container">
          <div class="defra-facets__header">
            <h2>Filter</h2>
          </div>
          <div class="defra-facets__content">
            <details class="defra-facets-details" data-module="govuk-details">
              <summary class="defra-facets-details__summary">
                <span class="defra-facets-details__summary-text">River name</span>
                <span class="defra-facets-details__select-counter">1 selected</span>
              </summary>
              <div class="defra-facets-details__text">
                <div class="defra-facets-filter">
                  <label class="govuk-visually-hidden" for="filter-river-name">Filter river name</label>
                  <input id="filter-river-name" class="defra-facets-filter__input"></input>
                </div>
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-visually-hidden">River name</legend>
                  <ul class="govuk-checkboxes govuk-checkboxes--small">
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="river-caldew" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="river-caldew">River Caldew</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="river-eden" aria-controls="" type="checkbox" checked></input>
                      <label class="govuk-label govuk-checkboxes__label" for="river-eden">River Eden</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="river-irthing" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="river-irthing">River Irthing</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="river-petteril" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="river-petteril">River Petteril</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="roe-beck" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="roe-beck">Roe Beck</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="trout-beck" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="trout-beck">Trout Beck</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </details>
            <details class="defra-facets-details" data-module="govuk-details">
              <summary class="defra-facets-details__summary">
                <span class="defra-facets-details__summary-text">Type</span>
              </summary>
              <div class="defra-facets-details__text">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-visually-hidden">Type</legend>
                  <ul class="govuk-checkboxes govuk-checkboxes--small">
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="river-measurement" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="river-measurement">River</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="sea-measurement" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="sea-measurement">Coastal</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="groundwater-measurement" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="groundwater-measurement">Groundwater</label>
                    </li>
                    <li class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="rainfall-measurement" aria-controls="" type="checkbox"></input>
                      <label class="govuk-label govuk-checkboxes__label" for="rainfall-measurement">Rainfall</label>
                    </li>
                  </ul>
                </fieldset>
              </div>
            </details>
            <div class="defra-facets__reset-container"></div>
          </div>
          <div class="defra-facets__footer">
            <button class="govuk-button defra-facets__filter-results" type="submit" data-module="govuk-button">
              Filter results
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-search-summary" id="searchSummary">
      <h2 class="defra-search-summary__count">9 levels</h2>
      <!-- Added with javascript -->
      <button id="map-btn" class="defra-button-map-s">View map</button>
      <!-- Added with javascript -->
    </div>
    <ul class="defra-flood-list">
      <!--
      <li class="defra-flood-list__group">
        <span class="defra-flood-list__group-title">
          2 flood warnings
          <span>Flooding is expected</span>
        </span>
        <ul>
          <li class="defra-flood-list-item defra-flood-list-item--warning">
            <span class="defra-flood-list-item__title">
              <a href="">Mill Beck at Welham Road, Norton</a>
            </span>
            <span class="defra-flood-list-item__meta">
              Updated <time datetime="2021-01-25T07:32:00.000Z">7:32am on 25 January 2021</time>
            </span>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--warning">
            <span class="defra-flood-list-item__title">
              <a href="">River Ouse at York - St George's Field and Queen's Staith</a>
            </span>
            <span class="defra-flood-list-item__meta">
              Updated <time datetime="2021-01-25T08:11:00.000Z">8:11am on 25 January 2021</time>
            </span>
          </li>
        </ul>
      </li>
      -->
      <li class="defra-flood-list-item defra-flood-list-item--groundwater-high">
        <span class="defra-flood-list-item__title">
          Groundwater at Aldershot borehole
        </span>
        <dl class="defra-flood-list-data">
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">State</dt>
            <dd>
              <span class="defra-flood-list-data__value">High</span>
              <span class="defra-flood-list-data__description">&gt; 58.52m</span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Height</dt>
            <dd>
              <span class="defra-flood-list-data__value">67.83m</span>
              <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Trend</dt>
            <dd>
              <span class="defra-flood-list-data__value">Stable</span>
            </dd>
          </div>
        </dl>
        <a href="" class="defra-flood-list-item__detail-link">Details</a>
      </li>
      <li class="defra-flood-list-item defra-flood-list-item--rainfall-heavy">
        <span class="defra-flood-list-item__title">
          Bassingbourn rain gauge
        </span>
        <dl class="defra-flood-list-data">
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Intensity</dt>
            <dd>
              <span class="defra-flood-list-data__value">Heavy</span>
              <span class="defra-flood-list-data__description">5.7mm hourly</span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Last 6 hours</dt>
            <dd>
              <span class="defra-flood-list-data__value">28mm</span>
              <span class="defra-flood-list-data__description" aria-hidden="true">last 6 hours</span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Last 12 hours</dt>
            <dd>
              <span class="defra-flood-list-data__value">82mm</span>
              <span class="defra-flood-list-data__description" aria-hidden="true">last 24 hours</span>
            </dd>
          </div>
        </dl>
        <a href="" class="defra-flood-list-item__detail-link">Details</a>
      </li>
      <li class="defra-flood-list-item defra-flood-list-item--river">
        <span class="defra-flood-list-item__title">
          Ceiriog at Brynkinalt (Natural Resources Wales)
        </span>
        <dl class="defra-flood-list-data">
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Height</dt>
            <dd>
              <span class="defra-flood-list-data__value">0.13m</span>
              <span class="defra-flood-list-data__description"> at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
            </dd>
          </div>
        </dl>
        <a href="" class="defra-flood-list-item__detail-link">Details</a>
      </li>
      <li>
        <span class="defra-flood-list-river__name">
          <a href="">River Eden</a>
        </span>
        <ul class="defra-flood-list-river defra-flood-list-river--order" aria-label="Levels the River Eden">
          <li class="defra-flood-list-item defra-flood-list-item--river-error">
            <span class="defra-flood-list-item__title">
              Appleby
            </span>
            <span class="defra-flood-list-item__meta">
              Data not available
            </span>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--river">
            <span class="defra-flood-list-item__title">
              Temple Sowerby
            </span>
            <dl class="defra-flood-list-data">
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-flood-list-data__value">0.66m</span>
                  <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Normal</span>
                  <span class="defra-flood-list-data__description">0.20m - 3.00m</span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Rising</span>
                </dd>
              </div>
            </dl>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--river-high">
            <span class="defra-flood-list-item__title">
              Great Corby
            </span>
            <dl class="defra-flood-list-data">
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-flood-list-data__value">2.44m</span>
                  <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-flood-list-data__value">High</span>
                  <span class="defra-flood-list-data__description">above 2.00m</span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Rising</span>
                </dd>
              </div>
            </dl>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--river">
            <span class="defra-flood-list-item__title">
              Linstock
            </span>
            <dl class="defra-flood-list-data">
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-flood-list-data__value">0.10m</span>
                  <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Low</span>
                  <span class="defra-flood-list-data__description">&lt; 0.11m</span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Rising</span>
                </dd>
              </div>
            </dl>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
        </ul>
      </li>
      <li class="defra-flood-list-item defra-flood-list-item--sea">
        <span class="defra-flood-list-item__title">
          Tide at Silloth Docks
        </span>
        <dl class="defra-flood-list-data">
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Height</dt>
            <dd>
              <span class="defra-flood-list-data__value">-0.45m</span>
              <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Next high tide</dt>
            <dd>
              <span class="defra-flood-list-data__value">3.4m</span>
              <span class="defra-flood-list-data__description">in 4 hrs 40 mins</span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Phase</dt>
            <dd>
              <span class="defra-flood-list-data__value">Rising</span>
            </dd>
          </div>
        </dl>
        <a href="" class="defra-flood-list-item__detail-link">Details</a>
      </li>
      <li class="defra-flood-list-item defra-flood-list-item--river">
        <span class="defra-flood-list-item__title">
          Trout Beck at Warwick Bridge
        </span>
        <dl class="defra-flood-list-data">
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Height</dt>
            <dd>
              <span class="defra-flood-list-data__value">0.13m</span>
              <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">State</dt>
            <dd>
              <span class="defra-flood-list-data__value">Normal</span>
              <span class="defra-flood-list-data__description">0.10m - 0.50m</span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Trend</dt>
            <dd>
              <span class="defra-flood-list-data__value">Rising</span>
            </dd>
          </div>
        </dl>
        <a href="" class="defra-flood-list-item__detail-link">Details</a>
      </li>
    </ul>
  </div>
</div>
<!-- End -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">River or group filter</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
    <p>&lt;title&gt;<!-- Start -->River Eden - Water level measurements - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Water level measurements
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="post" autocomplete="off">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-margin-bottom-2" for="location">
          Search a location
        </label>
        <div class="defra-search">
          <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="">
          <div class="defra-search__submit-container">
              <button class="defra-search__button">Search</button>
          </div>
        </div>
      </div>
    </form>
    <!--
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search by river
        </span>
      </summary>
      <div class="govuk-details__text">
        River
      </div>
    </details>
    -->
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-search-summary" id="searchSummary">
      <h2 class="defra-search-summary__count">4 levels</h2>
      <!-- Added with javascript -->
      <button id="map-btn" class="defra-button-map-s">View map</button>
      <!-- Added with javascript -->
    </div>
    <ul class="defra-flood-list" aria-label="Levels the River Eden">
      <li>
        <span class="defra-flood-list-river__name">
          River Eden
        </span>
        <ul class="defra-flood-list-river defra-flood-list-river--order" aria-label="Levels the River Eden">
          <li class="defra-flood-list-item defra-flood-list-item--river-error">
            <span class="defra-flood-list-item__title">
              Appleby
            </span>
            <span class="defra-flood-list-item__meta">
              Data not available
            </span>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--river">
            <span class="defra-flood-list-item__title">
              Temple Sowerby
            </span>
            <dl class="defra-flood-list-data">
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-flood-list-data__value">0.66m</span>
                  <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Normal</span>
                  <span class="defra-flood-list-data__description">0.20m - 3.00m</span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Rising</span>
                </dd>
              </div>
            </dl>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--river-high">
            <span class="defra-flood-list-item__title">
              Great Corby
            </span>
            <dl class="defra-flood-list-data">
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-flood-list-data__value">2.44m</span>
                  <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-flood-list-data__value">High</span>
                  <span class="defra-flood-list-data__description">above 2.00m</span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Rising</span>
                </dd>
              </div>
            </dl>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
          <li class="defra-flood-list-item defra-flood-list-item--river">
            <span class="defra-flood-list-item__title">
              Linstock
            </span>
            <dl class="defra-flood-list-data">
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Height</dt>
                <dd>
                  <span class="defra-flood-list-data__value">0.10m</span>
                  <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">State</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Low</span>
                  <span class="defra-flood-list-data__description">&lt; 0.11m</span>
                </dd>
              </div>
              <div class="defra-flood-list-data__column">
                <dt class="govuk-visually-hidden">Trend</dt>
                <dd>
                  <span class="defra-flood-list-data__value">Stable</span>
                </dd>
              </div>
            </dl>
            <a href="" class="defra-flood-list-item__detail-link">Details</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- End -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Target area filter</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
    <p>&lt;title&gt;<!-- Start -->The River Gipping, from downstream of Needham Market, to upstream of London Road Bridge, Ipswich - Water level measurements - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Water level measurements
    </h1>
    <p class="govuk-!-margin-bottom-8">Showing levels within 5 miles of The River Gipping, from downstream of Needham Market, to upstream of London Road Bridge, Ipswich. <a href="">Show all levels</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="post" autocomplete="off">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-margin-bottom-2" for="location">
          Search a location
        </label>
        <div class="defra-search">
          <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
          <div class="defra-search__submit-container">
              <button class="defra-search__button">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-search-summary" id="searchSummary">
      <h2 class="defra-search-summary__count">1 level</h2>
      <!-- Added with javascript -->
      <button id="map-btn" class="defra-button-map-s">View map</button>
      <!-- Added with javascript -->
    </div>
    <ul class="defra-flood-list">
      <li class="defra-flood-list-item defra-flood-list-item--sea">
        <span class="defra-flood-list-item__title">
          Tide at Silloth Docks
        </span>
        <dl class="defra-flood-list-data">
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Height</dt>
            <dd>
              <span class="defra-flood-list-data__value">-0.45m</span>
              <span class="defra-flood-list-data__description">at <time datetime="2020-01-01T00:00:00.000Z">4:00pm</time></span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Next high tide</dt>
            <dd>
              <span class="defra-flood-list-data__value">3.4m</span>
              <span class="defra-flood-list-data__description">in 4 hrs 40 mins</span>
            </dd>
          </div>
          <div class="defra-flood-list-data__column">
            <dt class="govuk-visually-hidden">Phase</dt>
            <dd>
              <span class="defra-flood-list-data__value">Incoming</span>
            </dd>
          </div>
        </dl>
        <a href="" class="defra-flood-list-item__detail-link">Details</a>
      </li>
    </ul>
  </div>
</div>
<!-- End -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">No results</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
    <p>&lt;title&gt;<!-- Start -->sftgshdgfter - Water level measurements - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Water level measurements
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="post" autocomplete="off">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-margin-bottom-2" for="location">
          Search a location
        </label>
        <div class="defra-search">
          <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="sftgshdgfter">
          <div class="defra-search__submit-container">
              <button class="defra-search__button">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-search-summary" id="searchSummary">
      <h2 class="defra-search-summary__count">0 levels</h2>
      <!-- Added with javascript -->
      <button id="map-btn" class="defra-button-map-s">View map</button>
      <!-- Added with javascript -->
    </div>
    <p class="govuk-body govuk-!-margin-top-4">
      <h2 class="govuk-heading-s">No river, sea or groundwater levels found</h2>    
    </p>
    <p class="govuk-body">If you searched a place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>
  </div>
</div>
<!-- End -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Not in England</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
    <p>&lt;title&gt;<!-- Start -->Aberdeen - Water level measurements - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Water level measurements
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="post" autocomplete="off">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-margin-bottom-2" for="location">
          Search a location
        </label>
        <div class="defra-search">
          <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="Aberdeen">
          <div class="defra-search__submit-container">
              <button class="defra-search__button">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-search-summary" id="searchSummary">
      <h2 class="defra-search-summary__count">0 levels</h2>
      <!-- Added with javascript -->
      <button id="map-btn" class="defra-button-map-s">View map</button>
      <!-- Added with javascript -->
    </div>
    <p class="govuk-body govuk-!-margin-top-4">
      <h2 class="govuk-heading-s">No river, sea or groundwater levels found</h2>    
    </p>
    <p class="govuk-body">If you searched a place in England, you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check the spelling</li>
      <li>enter a broader location</li>
    </ul>
    <p class="govuk-body">If you searched a place outside England, you should visit:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.sepa.org.uk/environment/water/flooding/">Scottish Environment Protection Agency</a></li>
      <li><a href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland Direct</a></li>
      <li><a href="https://naturalresources.wales/flooding">Natural Resources Wales</a></li>
    </ul>
  </div>
</div>
<!-- End -->

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    <script src="/public/javascripts/bodyScrollLock.js"></script>
    <script src="/public/javascripts/filter.js"></script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
