
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 14
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-status.scss</li>
    </ul>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Scenarios</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">(a)</td>
          <td class="govuk-table__cell">Station page banners</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">(b)</td>
          <td class="govuk-table__cell">Target area page banners</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">(c)</td>
          <td class="govuk-table__cell">Generic page banners</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-0">Beta</h2>
  </div>
</div>
<p class="govuk-!-padding-top-4 govuk-!-margin-bottom-2">(a)</p>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Station page with <a href="">about the beta</a> and <a href="">live station page</a>
    </span>
  </p>
</div>
<p class="govuk-!-padding-top-4 govuk-!-margin-bottom-2">(b)</p>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Target area page with <a href="">about the beta</a> and <a href="">live target area page</a>
    </span>
  </p>
</div>
<p class="govuk-!-padding-top-4 govuk-!-margin-bottom-2">(c)</p>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Generic page with <a href="">about the beta</a>
    </span>
  </p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-padding-top-7 govuk-!-margin-bottom-0">Live</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-!-padding-top-4">(a)</p>
    <div class="defra-banner-beta">
      <p>Station page with <a href="">about the beta</a> and <a href="">beta station page</a></p>
    </div>
    <p class="govuk-!-padding-top-4">(b)</p>
    <div class="defra-banner-beta">
      <p>Target area page with <a href="">about the beta</a> and <a href="">beta target area page</a></p>
    </div>
    <p class="govuk-!-padding-top-4">(c)</p>
    <div class="defra-banner-beta">
      <p>Content with <a href="">about the beta</a></p>
    </div>
  </div>
</div>
{% endblock %}
