{% extends "layout.html" %}

{% block pageTitle %}
  Cookie details - Flood warning information service - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
     Cookie details
    </h1>
    <p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
    <p>We use cookies to store anonymised information about how you use the Flood information service so we can improve it based on user needs.</p>
    <h2 class="govuk-heading-m" id="cookies-use-label">Cookies that measure website use</h2>
    <p>We use Google Analytics to measure how you use the service. Google does not use or share this information.</p>
    <p>Google Analytics stores anonymised information about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you got to the service</li>
      <li>the pages you visit on the service and how long you stay on them</li>
      <li>what you click on while you're using the service</li>
    </ul>
    <p>Google Analytics sets the following cookies.</p>
    <table class="govuk-table" aria-labelledby="cookies-use-label">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:20%">Name</th>
          <th scope="col" class="govuk-table__header">What it does</th>
          <th scope="col" class="govuk-table__header" style="width:20%">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_ga</td>
          <td class="govuk-table__cell">Helps us count how many people visit the service by tracking if you’ve visited before</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gid</td>
          <td class="govuk-table__cell">Helps us count how many people visit the service by tracking if you’ve visited before</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gat</td>
          <td class="govuk-table__cell">Manages the rate at which page view requests are made</td>
          <td class="govuk-table__cell">10 minutes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_utma</td>
          <td class="govuk-table__cell">Like _ga, this lets us know if you’ve visited before, so we can count how many of our visitors are new to GOV.UK or to a certain page</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_utmb</td>
          <td class="govuk-table__cell">This works with _utmc to calculate the average length of time you spend on the service</td>
          <td class="govuk-table__cell">30 minutes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_utmc</td>
          <td class="govuk-table__cell">This works with _utmb to calculate when you close your browser</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_utmz</td>
          <td class="govuk-table__cell">This tells us how you reached the service (for example from another website or a search engine)</td>
          <td class="govuk-table__cell">6 months</td>
        </tr>
      </tbody>
    </table>
    <h2 class="govuk-heading-m" id="cookies-necessary-label">Strictly necessary cookies</h2>
    <p>These cookies are essential to making the service work.</p>
    <p>We use the following cookies.</p>
    <table class="govuk-table" aria-labelledby="cookies-necessary-label">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:20%">Name</th>
          <th scope="col" class="govuk-table__header">What it does</th>
          <th scope="col" class="govuk-table__header" style="width:20%">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="word-break: break-all">seen_cookie_message</td>
          <td class="govuk-table__cell">Stops your browser showing the cookie banner after you have set your preferences</td>
          <td class="govuk-table__cell">7 days</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="word-break: break-all">setCookieUsage</td>
          <td class="govuk-table__cell">Stops your browser showing the cookie banner after you have set your preferences</td>
          <td class="govuk-table__cell">7 days</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="word-break: break-all">quick-feedback</td>
          <td class="govuk-table__cell">Tells us if you’ve chosen Yes or No to a question so we don’t ask it again</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="word-break: break-all">TLSVersion</td>
          <td class="govuk-table__cell">Tells us the highest version of TLS your browser uses so we can decide which versions to keep supporting</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}