
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 26
{% endblock %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Requires</h2>
      <ul class="govuk-list">
        <li>sass/components/_flood-nav.scss</li>
      </ul>
      <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
    </div>
  </div>

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <nav class="defra-flood-nav">
            <!--<button class="defra-button-map-s">View map<span class="govuk-visually-hidden">(Visual only)</span></button>-->
            <button id="map-btn" class="defra-button-map-s">View map<span class="govuk-visually-hidden">(Visual only)</span></button>
            <a href="" class="defra-flood-nav__link defra-flood-nav__link--upstream">Go upstream</a>
            <a href="" class="defra-flood-nav__link defra-flood-nav__link--downstream">Go downstream</a>
            <a href="" class="defra-flood-nav__link">Check nearby measurements</a>
        </nav>
    </div>
</div>
{% endblock %}
