{% extends "layout.html" %}

{% block pageTitle %}
  Asset 17
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner-beta.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/[file].scss</li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Example page
    </h1>
    <p class="govuk-body">Example content</p>
  </div>
</div>
{% endblock %}
