
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 24b
{% endblock %}

{% block content %}

<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/components/_service-error.scss</li>
      <li>sass/components/_flood-statistics.scss</li>
      <li>sass/objects/_buttons.scss</li>
      <li>sass/objects/_typography.scss</li>
      <li>sass/utilities/_summary-list.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;Rainfall at Abbeytown - GOV.UK&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>
-->

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-right-2">Back</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      Rainfall at Abbeytown
    </h1>
    <span class="govuk-caption-m">Measured 45 minutes ago</span>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-visually-hidden">Station summary</h2>
    <div class="defra-flood-statistics govuk-!-margin-top-6">
      <dl class="defra-flood-statistics__list">
        <!-- If station has latest level and pc5 and pc95 -->
        <div class="defra-flood-statistics__column-one-third"> 
          <dt class="defra-flood-statistics__key">
            1 hour
          </dt>
          <dd class="defra-flood-statistics__value">
            0mm
          </dd>
        </div>
        <div class="defra-flood-statistics__column-one-third">
          <dt class="defra-flood-statistics__key">
            6 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            0.2mm
          </dd>
        </div>
        <div class="defra-flood-statistics__column-one-third">
          <dt class="defra-flood-statistics__key">
            24 hours
          </dt>
          <dd class="defra-flood-statistics__value">
            0.3mm
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-flood-nav" aria-label="Related levels">
      <span id="map"></span>
      <a href="" class="defra-flood-nav__link">Check nearby levels</a>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <figure class="defra-bar-chart govuk-!-margin-top-6">
      <figcaption class="govuk-heading-m govuk-!-margin-bottom-6">Rainfall intensity (millimeters per hour)</figcaption>
      <div class="defra-bar-chart__container">
        <dl>
          <div class="defra-bar-chart__item">
            <dt>3pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>4pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>5pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>6pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>7pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>8pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>9pm pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>10pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>11pm, 18 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>12am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>1am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>2am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>3am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>4am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>5am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>6am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>7am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>8am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>9am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>10am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>11am, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>12pm, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>1pm, 19 May</dt>
            <dd>0</dd>
          </div>
          <div class="defra-bar-chart__item">
            <dt>2pm, 19 May</dt>
            <dd>0</dd>
          </div>
        </dl>
      </div>
    </figure>
    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-margin-top-6">Rainfall intensity (millimeters per hour)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Time</th>
          <th scope="col" class="govuk-table__header">Intensity</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3pm, 18 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4pm, 18 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">5pm, 18 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">6pm, 18 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">7pm, 18 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8pm, 18 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">9pm, 18 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">10pm, 18 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">11pm, 18 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12am, 19 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1am, 19 May</th>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">2am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>       
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">5am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">6am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">7am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">8am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">9am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>       
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">10am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">11am, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">12pm, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1pm, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">2pm, 19 May</th>
          <td class="govuk-table__cell">0.1</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical information for this measuring station
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid reference
            </dt>
            <dd class="govuk-summary-list__value">NY 12345 12345</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              Gargrave
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              8083
            </dd>
          </div>
        </dl>
      </div>
    </details>
  </div>
</div>
<!-- End -->

{% endblock %}

{% block pageScripts %}
<!-- Only used for visualising the chart in the assets resource  -->
<script src="/assets/js/core.js"></script>
<script>
  window.flood.model = {
    id: 'rainfall_stations.596026.North West',
    coordinates: [-3.31131215,54.85018348]
  }
</script>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/rainfall.js"></script>
<!-- end assets resource only -->
{% endblock %}
