{% extends "layout.html" %}

{% block pageTitle %}
  Asset 16b
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_related-items.scss</li>
      <li>sass/components/_updated.scss</li>
    </ul>
    <h2 class="govuk-heading-m">All scenarios</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sorry, there is a problem with the service
    </h1>
    <p class="govuk-body"><p>Try again later.</p>
    <p class="govuk-body">Or you can call Floodline.</p>
    <p class="govuk-body">
        Telephone:<br>
        <strong class="govuk-!-font-weight-bold">0345 988 1188</strong>
      </p>
      <p class="govuk-body">
        Textphone:<br>
        <strong class="govuk-!-font-weight-bold">0345 602 6340</strong>
      </p>
      <p class="govuk-body">
        Opening times:<br>
        <strong class="govuk-!-font-weight-bold">24 hours a day, 7 days a week</strong>
      </p>
      <p class="govuk-body"><a href="https://www.gov.uk/call-charges">Find out more about call charges</a></p>
  </div>
</div>

{% endblock %}
