
{% extends "layout.html" %}

{% block pageTitle %}
Asset 5d
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Conditions (cumulative)</h2>
    {{ govukTable({
      caption: "",
      firstCellIsHeader: false,
      head: [
        {
          text: ""
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "(1)"
          },
          {
            html: "One or more flood alerts are in place.<br/>At least one warning or severe warning is also in place."
          }
        ],
        [
          {
            text: "(2)"
          },
          {
            html: "One or more flood alerts, warnings or severe warnings have been removed within the last 24 hours."
          }
        ]
      ]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-padding-top-4">(1)<p>
    <!-- start -->
    <p><a href="/alerts-and-warnings">A flood alert</a> is also in the wider area where some flooding is possible.</p>
    <p><a href="/alerts-and-warnings">3 flood alerts</a> are also in the wider area where some flooding is possible.</p>
    <!-- end -->
    <p class="govuk-!-padding-top-4">(2)<p>
    <!-- start -->
    <p><a href="/alerts-and-warnings">A flood alert or warning was removed</a> in the last 24 hours.</p>
    <p><a href="/alerts-and-warnings#removed">10 flood alerts and warnings were removed</a> in the last 24 hours.</p>
    <!-- end -->
  </div>
</div>

{% endblock %}
