
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 14b
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-bottom-6">Page meta title</h2>
    <p>&lt;title&gt;<!-- Start -->Check for flooding beta - Flood Information Service - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">About the Check for flooding beta service</h1>
    <p>We’re testing a new design of the Flood information service called Check for flooding. It’s currently in its 'beta' phase. This means it’s the first version of it.</p>
    <p>You can <a href="">use the new service</a> and <a href="">give us feedback</a> to help us improve it.</p>
    <p>Because we’re still adding new features, it might not always be available. </p>
    <p>The existing Flood information service is available to use any time until we replace it with the Check for flooding service.</p>
    <p>You can also call Floodline 24 hours a day by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>telephone on 0345 988 1188</li>
      <li>textphone on 0345 602 6340</li>
    </ul>
    <h2 class="govuk-heading-m">Beta services</h2>
    <p>GOV.UK regularly launches new or redesigned digital services. During the beta phase services are continually tested and improved.</p>
    <p>The beta label is displayed on a new service to show it’s being tested - it may not work for everyone.</p>
    <p>Sometimes a beta service will be available at the same time as an older, existing service - you can choose which one to use.</p>
    <p>Successful beta services eventually become ‘live’ and replace any older services that perform the same task.</p>
  </div>
</div>
{% endblock %}
