
{% extends "layout.html" %}

{% block pageTitle %}
  Asset 7d
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/components/_flood-status.scss</li>
      <li>sass/components/_flood-meta.scss</li>
      <li>sass/components/_flood-tabs.scss</li>
      <li>sass/components/_context-footer.scss</li>
      <li>sass/components/_related-items.scss</li>
      <li>sass/objects/_buttons.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->Flood warning for Keswick campsite - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-right-2">Back</a>
  </div>
</div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status govuk-!-margin-bottom-3">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>Flooding is expected - <a href="/what-to-do-in-a-flood#what-to-do-if-you-get-a-flood-warning">act now</a></strong>
        </div>
      </div>
    </div>
    <h1 class="govuk-heading-xl">
      Flood warning for Keswick campsite
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-4">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <p>Flood warning area: Keswick Campsite flooding from the lake.</p>
    <button id="map-btn" class="defra-button-map govuk-!-margin-bottom-6">View map of the flood warning area</button>
    {% include "partials/levels.html" %}
    <h2 class="govuk-heading-m govuk-!-margin-top-2">Flood forecast for the region</h2>
    {% set dayOne %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Today</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayTwo%}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Tomorrow</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayThree %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayFour %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Friday</h3>
    <p>Low risk from river flooding with a high likelihood of minor impacts</p>
    {% endset -%}
    {% set dayFive %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Saturday</h3>
    <p>Low risk from river flooding with a high likelihood of minor impacts</p>
    {% endset -%}
    {{ govukTabs({
      classes: 'defra-flood-tabs govuk-!-padding-top-2',
      items: [
        {
          label: "Today",
          id: "day-one",
          panel: {
            html: dayOne
          }
        },
        {
          label: "Tomorrow",
          id: "day-two",
          panel: {
            html: dayTwo
          }
        },
        {
          label: "Thursday",
          id: "day-three",
          panel: {
            html: dayThree
          }
        },
        {
          label: "Friday",
          id: "day-four",
          panel: {
            html: dayFour
          }
        },
        {
          label: "Saturday",
          id: "day-five",
          panel: {
            html: dayFive
          }
        }
      ]
    }) }}
    <p class="defra-flood-meta govuk-!-margin-bottom-6">
      <time datetime="">Updated 3:30pm on 29 March 2020</time><br/>
      Produced by the Met Office and Environment Agency
    </p>
    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a></p>
    {% include "partials/floodline.html" %}
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://flood-test.aws.defra.cloud/long-term-flood-risk">
              Check your long term flood risk
            </a>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
              Report a flood
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<!-- End -->

{% endblock %}
