

{% extends "layout.html" %}

{% block pageTitle %}
  FIS-256-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_related-items.scss</li>
      <li>sass/components/_updated.scss</li>
    </ul>
    <h2 class="govuk-heading-m">All scenarios</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-!-margin-bottom-7">
      <p>
        <a href="">Check another location</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Check the flood risk for England</a>
      </p>
    </nav>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Flood risk around Warrington
    </h1>
    <p class="defra-flood-meta govuk-!-margin-bottom-7">
      Updated <time datetime="">6 November 2020 8:34am</time>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          No flood warnings or alerts are in place in this area, but some <a href="">river and sea levels</a> are high. 
        </div>
      </div>
    </div>
      <p class="govuk-!-padding-top-4"><a href="">A flood alert</a> is in place in the wider area where some flooding is possible.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Not what you expected? This service tells you your risk of flooding from rivers, the sea and groundwater only. If there's surface water flooding (also known as flash flooding) in your area, <a href="#">contact your local council</a>.</p>
    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a></p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Start -->
    <h2 class="govuk-heading-m">Flood forecast for the region</h2>
    <p>The flood risk for the next 5 days is very low.</p>
    <p class="defra-flood-meta govuk-!-margin-bottom-4">
      <time datetime="">Updated today at 10:30am</time>. Produced by the Met Office and Environment Agency.
    </p>
    <!-- End -->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-context-footer">
      <h2 class="govuk-visually-hidden">Speak to someone</h2>
      <p>Call Floodline for advice about flooding from rivers, the sea and groundwater.</p>
      <p>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week.<br><a href="https://gov.uk/call-charges">Find out more about call charges</a>.</p>
      <p class="defra-flood-meta govuk-!-margin-bottom-4">This service tells you your risk of flooding from rivers, the sea and groundwater only. If there's flooding in your area but you're not sure where it's from, <a href="#">contact your local council</a>.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://flood-test.aws.defra.cloud/long-term-flood-risk">
              View long term flood risk information
            </a>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
              Report a flood
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<!-- End -->

{% endblock %}

