
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-366-Errors-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_line-chart.scss</li>
      <li>sass/components/_flood-statistics.scss</li>
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/utilities/_tables.scss</li>
      <li>sass/utilities/_summary-list.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->River Aire level at Gargrave - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->Sea level at Silloth - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->Groundwater level at Tilshead borehole - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-flood-nav" id="browserBackContainer">
      <a href="/river-and-sea-levels?river-id=river-exe" class="defra-flood-nav__link">River Aire</a>
      <!-- Outout with Javascript -->
      <button class="defra-button-map defra-button-map--small"><span>View on map</span></button>
      <!-- Javascript end -->
    </nav>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River Aire level at Gargrave
    </h1>
  </div>
</div>
<!-- Closed -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-7">
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is closed
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        No data is available. You can <a href="/river-and-sea-levels">check another river or sea level</a>.
      </p>
    </div>
  </div>
</div>
<!-- Suspended -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error govuk-!-margin-bottom-7">
      <h2 class="defra-service-error__title" id="error-summary-title">
        This measuring station is currently offline
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        We are working to get it back online. You can <a href="/river-and-sea-levels">check another river or sea level</a>.
      </p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical details about this measuring station
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid reference
            </dt>
            <dd class="govuk-summary-list__value">NY 12345 12345</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site datum
            </dt>
            <dd class="govuk-summary-list__value">
              104.82<abbr title="metres above ordnance datum">mAOD</abbr>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              Gargrave
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Normal range
            </dt>
            <dd class="govuk-summary-list__value">
              0.43m to 2.80m
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              8083
            </dd>
          </div>
        </dl>
      </div>
    </details>
  </div>
</div>
<!-- End -->

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/station/core.js"></script>
<script src="/public/javascripts/station/model.js"></script>
<script src="/public/javascripts/station/station.js"></script>
{% endblock %}
