
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-410-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>(a)</p>
    <!-- Start -->
    <h2 class="govuk-heading-m">Outlook for the wider region</h2>
    <div class="govuk-tabs defra-flood-tabs govuk-!-padding-top-2" data-module="govuk-tabs">
      <h3 class="govuk-visually-hidden">Contents</h3>
      <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
          <a class="govuk-tabs__tab" href="#day-1" id="tab_day-1" role="tab" aria-controls="day-1" aria-selected="true" tabindex="0">
            <time datetime="2020-02-02">Sun<span>day 2nd</span></time>
          </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#day-2" id="tab_day-2" role="tab" aria-controls="day-2" aria-selected="false" tabindex="-1">
            <time datetime="2020-02-03">Today</time>
          </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#day-3" id="tab_day-3" role="tab" aria-controls="day-3" aria-selected="false" tabindex="-1">
            <time datetime="2020-02-04">Tomorrow</time>
          </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#day-4" id="tab_day-4" role="tab" aria-controls="day-4" aria-selected="false" tabindex="-1">
            <time datetime="2020-02-05">Wed<span>nesday 5th</span></time>
          </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#day-5" id="tab_day-5" role="tab" aria-controls="day-5" aria-selected="false" tabindex="-1">
            <time datetime="2020-02-06">Thu<span>rsday 6th</span></time>
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="day-1" role="tabpanel" aria-labelledby="tab_day-1">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <time datetime="2020-02-02">Sun<span>day 2nd</span></time>
        </h3>
        <p>Meta</p>    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day-2" role="tabpanel" aria-labelledby="tab_day-2">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <time datetime="2020-02-03">Today</time>
        </h3>
        <p>Meta</p>    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day-3" role="tabpanel" aria-labelledby="tab_day-3">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <time datetime="2020-02-04">Tomorrow</time>
        </h3>
        <p>Meta</p>    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day-4" role="tabpanel" aria-labelledby="tab_day-4">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <time datetime="2020-02-05">Wed<span>nesday 5th</span></time>
        </h3>
        <p>Meta</p>    
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="day-5" role="tabpanel" aria-labelledby="tab_day-5">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          <time datetime="2020-02-06">Thu<span>rsday 6th</span></time>
        </h3>
        <p>Meta</p>    
      </div>
    </div>
    <p class="defra-updated govuk-!-margin-bottom-4">
      <time datetime="">Updated at 2/2/20 10:30am</time>. Produced by the Met Office and Environment Agency
    </p>
    <!-- End -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-margin-top-4">(b)</p>
    <!-- Start -->
    <h2 class="govuk-heading-m">Outlook for the wider region</h2>
    <p>The flood risk for the next 5 days is very low.</p>
    <p class="defra-updated govuk-!-margin-bottom-4">
      <time datetime="">Updated at 2/2/20 10:30am</time>. Produced by the Met Office and Environment Agency
    </p>
    <!-- End -->
  </div>
</div>

{% endblock %}
