
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-366-Page-2-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_line-chart.scss</li>
      <li>sass/components/_flood-statistics.scss</li>
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/utilities/_flood-impact-list.scss</li>
      <li>sass/utilities/_summary-list.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-flood-nav" id="browserBackContainer">
      <a href="/river-and-sea-levels?river-id=river-exe" class="defra-flood-nav__link">River Aire</a>
      <!-- Outout with Javascript -->
      <button class="defra-button-map-s"><span>View map</span></button>
      <!-- Javascript end -->    
    </nav>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-status govuk-!-margin-bottom-4">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">There is 1 severe flood warning, 4 warnings and 1 alert in place nearby</a>
          </strong>
        </div>
      </div>
    </div>
    <div class="defra-flood-status govuk-!-margin-bottom-4">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">There is a flood warning in place nearby</a>
          </strong>
        </div>
      </div>
    </div>
    <div class="defra-flood-status govuk-!-margin-bottom-4">
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood alert</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">There are 2 flood alerts in place nearby</a>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River Aire level at Gargrave
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- Audit 2.7 -->
    <div class="defra-service-error govuk-!-margin-bottom-4">
      <h2 class="defra-service-error__title" id="error-summary-title">
        Sorry, there's a problem with the latest measurement
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        The latest measurement is unreliable. This could be due to something like very low river levels, or a fault with the measuring equipment.
      </p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <figure class="defra-line-chart" aria-hidden="true" hidden>
      <figcaption class="govuk-heading-m govuk-!-margin-bottom-7">Height over the last 5 days and 36 hour forecast</figcaption>
      <div id="line-chart" class="defra-line-chart__container" role="presentation"></div>
      <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">We take measurements more often when the risk of flooding is high.</p>
      <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">Levels that are very low or below 0 meters are normal for some stations.</p>
      <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">This forecast is from a computer model. It has some uncertainty and might change.</p>
    </figure>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">How levels here could affect nearby areas</h2>
    <dl class="defra-flood-impact-list govuk-!-margin-bottom-0">
      <div class="defra-flood-impact-list__row">
        <dt class="defra-flood-impact-list__key">
          5.03m
        </dt>
        <dd class="defra-flood-impact-list__value" data-id="highest" data-level="5.03" data-name="Highest level on record">
          Water reaches the highest level recorded at this measuring station
          <span class="defra-flood-impact-list__action"></span>
        </dd>
      </div>
    </dl> 
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical information for this measuring station
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid reference
            </dt>
            <dd class="govuk-summary-list__value">NY 12345 12345</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site datum
            </dt>
            <dd class="govuk-summary-list__value">
              104.82<abbr title="metres above ordnance datum">mAOD</abbr>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              Gargrave
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Normal range
            </dt>
            <dd class="govuk-summary-list__value">
              0.43m to 2.80m
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              8083
            </dd>
          </div>
        </dl>
      </div>
    </details>
    <!--
    <p class="govuk-text govuk-!-margin-bottom-6">
      <a href="/how-river-sea-groundwater-levels-are-measured">Find out how river, sea and groundwater levels are measured</a>.    
    </p>
    -->
  </div>
</div>
<!-- End -->

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/station/core.js"></script>
<script src="/public/javascripts/station/model.js"></script>
<script src="/public/javascripts/station/station.js"></script>
{% endblock %}
