
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-155-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-status.scss</li>
      <li>sass/components/_flood-meta.scss</li>
      <li>sass/objects/_buttons.scss</li>
    </ul>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Scenarios (exclusive)</h2>
    {{ govukTable({
      caption: "",
      firstCellIsHeader: false,
      head: [
        {
          text: ""
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "(a)"
          },
          {
            html: "1 or more flood alerts or warnings."
          }
        ],
        [
          {
            text: "(b)"
          },
          {
            html: "1 or more flood alerts or warnings and 1 or more removed."
          }
        ],
        [
          {
            text: "(c)"
          },
          {
            html: "No flood alerts or warnings but 1 or more removed."
          }
        ],
        [
          {
            text: "(d)"
          },
          {
            html: "No flood alerts or warnings."
          }
        ]
      ]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-bottom-top-0">Component content</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-margin-top-6">(a)</p>
    <!-- Flood status component -->
    <div class="defra-flood-status">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              14 severe flood warnings
            </a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">There is a danger to life</span>
        </div>
      </div>
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              16 flood warnings
            </a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">Flooding is expected</span>
        </div>
      </div>
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              16 flood alerts
            </a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">Flooding is possible</span>
        </div>
      </div>
    </div>
    <!-- end flood status -->
    <!-- Map component -->
    <button id="map-btn" class="defra-button-map">View map of flood warnings and alerts</button>
    <!-- end map -->
    <!-- Meta data component -->
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <!-- end meta data -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-margin-top-8">(b)</p>
    <!-- Flood status component -->
    <div class="defra-flood-status">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              6 flood warnings
            </a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">Flooding is expected</span>
        </div>
      </div>
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              14 flood alerts
            </a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">Flooding is possible</span>
        </div>
      </div>
      <p class="defra-flood-status__text">
        <a href="">12 flood warnings removed</a> in the last 24 hours
      </p>
    </div>
    <!-- end flood status -->
    <!-- Map component -->
    <button id="map-btn" class="defra-button-map">View map of flood warning and alerts</button>
    <!-- end map -->
    <!-- Meta data component -->
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <!-- end meta data -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-margin-top-8">(c)</p>
    <!-- Flood status component -->
    <div class="defra-flood-status">
      <div class="defra-flood-status-item defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          <strong>
            No flood alerts or warnings
          </strong>
        </div>
      </div>
      <p class="defra-flood-status__text">
        <a href="">12 flood warnings removed</a> in the last 24 hours
      </p>
    </div>
    <!-- end flood status -->
    <!-- Meta data component -->
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-3 govuk-!-margin-bottom-6"> <!-- Different class and margin if no map button -->
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <!-- end meta data -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-margin-top-8">(d)</p>
    <!-- Flood status component -->
    <div class="defra-flood-status">
      <div class="defra-flood-status-item defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          <strong>
            No flood alerts or warnings
          </strong>
        </div>
      </div>
    </div>
    <!-- end flood status -->
    <!-- Meta data component -->
    <p class="defra-flood-meta govuk-!-margin-bottom-6"> <!-- Different class and margin if no map button -->
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <!-- end meta data -->
  </div>
</div>

{% endblock %}
