
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-459-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_search.scss</li>
      <li>sass/components/_service-error.scss</li>
      <li>images/icon-search.svg</li>
    </ul>
    <h2 class="govuk-heading-m">All scenarios</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
      <p>&lt;title&gt;<!-- Start -->Sorry, there is currently a problem searching a location - Flood alerts and warnings - GOV.UK<!-- End -->&lt;/title&gt;</p>
    </div>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-service-error">
      <h2 class="defra-service-error__title" id="error-summary-title">
        Sorry, there is currently a problem searching a location
      </h2>
      <p>Try again later, or use the list to find a warning or alert.</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <form method="post" autocomplete="off">
        <div class="govuk-form-group">
          <label class="govuk-label" for="location">
            Search a location
          </label>
          <div class="defra-search">
            <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
            <div class="defra-search__submit-container">
                <button class="defra-search__button">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End -->

<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <form method="post" autocomplete="off">
        <fieldset class="govuk-fieldset" aria-describedby="search-type">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
            Search
            </h2>
          </legend>
          <span id="search-type" class="govuk-visually-hidden">
            Select one option.
          </span>
          <div class="govuk-radios govuk-radios--conditional govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="search-type-conditional" name="search-type" type="radio" value="location" data-aria-controls="conditional-search-type-conditional" aria-expanded="true" checked>
                <label class="govuk-label govuk-radios__label" for="search-type-conditional">
                    Location
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-search-type-conditional">
                <div class="govuk-form-group">
                    <label class="govuk-visually-hidden" for="location">
                        Postcode, town or county
                    </label>
                    <div class="defra-search">
                        <input class="defra-search__input" id="location" name="location" type="search" spellcheck="false" value="{% if model.placeName %}{{ model.placeName }}{% else %}{{ model.q }}{% endif %}">
                        <div class="defra-search__submit-container">
                            <button class="defra-search__button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="search-type-conditional-2" name="search-type" type="radio" value="river" data-aria-controls="conditional-search-type-conditional-2">
                <label class="govuk-label govuk-radios__label" for="search-type-conditional-2">
                    River
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-search-type-conditional-2">
                <div class="govuk-form-group">
                    <label class="govuk-visually-hidden" for="river">
                        River name
                    </label>
                    <div class="defra-search">
                        <input class="defra-search__input" id="river" name="river" type="search" spellcheck="false">
                        <div class="defra-search__submit-container">
                            <button class="defra-search__button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
-->

{% endblock %}
