
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-366-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_chart.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->River and sea levels in England - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->This service provides flood risk information for England only - River and sea levels in England - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->Sorry, there is currently a problem searching a location - River and sea levels in England - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      River and sea levels
    </h1>
  </div>
</div>
<!-- End -->

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>Stuff</p>
  </div>
</div>
<!-- End -->

{% endblock %}
