
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-366-Page-3-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_line-chart.scss</li>
      <li>sass/components/_flood-statistics.scss</li>
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/utilities/_tables.scss</li>
      <li>sass/utilities/_summary-list.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->River Aire level at Gargrave (upstream) - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-flood-nav" id="browserBackContainer">
      <a href="/river-and-sea-levels?river-id=river-exe" class="defra-flood-nav__link">River Aire</a>
      <!-- Outout with Javascript -->
      <button class="defra-button-map-s"><span>View map</span></button>
      <!-- Javascript end -->
    </nav>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River Aire level at Gargrave (upstream)
    </h1>
    <p class="govuk-!-margin-bottom-8">This station has two measurements. <a href="">View t'other one</a></p>  
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-visually-hidden">Station summary</h2>
    <div class="defra-flood-statistics">
      <dl class="defra-flood-statistics__list">
        <div class="defra-flood-statistics__row">
          <dt class="defra-flood-statistics__key">Status</dt>
          <dd class="defra-flood-statistics__value">
            <strong class="defra-flood-statistics__impact defra-flood-statistics__impact--high"> <!-- defra-flood-statistics__impact--high -->
              High <!-- {Low/High} -->
            </strong>
            Above 2.80m <!-- below {pc95}m / above {pc5 or ResFAL}m -->
          </dd>
        </div>
        <!--
        <div class="defra-flood-statistics__row">
          <dt class="defra-flood-statistics__key">Trend</dt>
          <dd class="defra-flood-statistics__value">
            <strong class="defra-flood-statistics__impact">
              Falling
            </strong>
            36 hour forecast is stable
          </dd>
        </div>
        -->
        <div class="defra-flood-statistics__row">
          <dt class="defra-flood-statistics__key">Height</dt>
          <dd class="defra-flood-statistics__value">
            <strong class="defra-flood-statistics__impact">
              2.95m
            </strong>
            at <time datetime="">5:30am</time> today
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- Render with Javascript -->
    <!-- Audit 2.9 -->
    <div class="defra-service-error govuk-!-margin-top-6">
      <h2 class="defra-service-error__title" id="error-summary-title">Sorry, this data feed was interrupted</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        Normal service resumed at 10:30am on Monday 1 January 2020
      </p>
    </div>
    <!-- Audit 2.11 -->
    <div class="defra-service-error govuk-!-margin-top-6">
      <h2 class="defra-service-error__title" id="error-summary-title">Sorry, there's currently a problem displaying a chart</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There is no recent data.</p>
    </div>
    <!-- Audit 2.12 -->
    <div class="defra-service-error govuk-!-margin-top-6">
      <h2 class="defra-service-error__title" id="error-summary-title">Sorry, there's currently a problem displaying a chart</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">There is no data.</p>
    </div>
    <!-- End Javascript render -->
    <!-- Audit 2.14 Render in Markup if none of the above are true -->
    <!--<noscript>-->
      <div class="defra-service-error govuk-!-margin-top-6">
        <p class="govuk-body govuk-!-margin-bottom-0">A chart is a availble with Javascript enabled.</p>
      </div>
    <!--</noscript>-->
    <!-- End markup render -->
    <!-- Audit 2.13 Render with Javascript if none of above are true and old browser detected -->
    <div class="defra-service-error govuk-!-margin-top-6" aria-hidden="true">
      <p class="govuk-body">You should <a href="https://www.gov.uk/help/browsers">upgrade your web browser</a> (the software you use to access the internet) as it's out of date.</p>
      <p>A chart is a vailable with an uptodate browser.</p>
    </div>
    <!-- End Javascript render -->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">How levels here could affect nearby areas</h2>
    <dl class="defra-flood-impact-list govuk-!-margin-bottom-0">
      <div class="defra-flood-impact-list__row">
        <dt class="defra-flood-impact-list__key">
          5.03m
        </dt>
        <dd class="defra-flood-impact-list__value" data-id="highest" data-level="5.03" data-name="Highest level on record">
          Water reaches the highest level recorded at this measuring station
          <span class="defra-flood-impact-list__action"></span>
        </dd>
      </div>
    </dl> 
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View technical details about this measuring station
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--defra-flood-station govuk-!-font-size-16">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid reference
            </dt>
            <dd class="govuk-summary-list__value">NY 12345 12345</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site datum
            </dt>
            <dd class="govuk-summary-list__value">
              104.82<abbr title="metres above ordnance datum">mAOD</abbr>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station name
            </dt>
            <dd class="govuk-summary-list__value">
              Gargrave
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Normal range
            </dt>
            <dd class="govuk-summary-list__value">
              0.43m to 2.80m
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Station ID
            </dt>
            <dd class="govuk-summary-list__value">
              8083
            </dd>
          </div>
        </dl>
      </div>
    </details>
    <!--
    <p class="govuk-text govuk-!-margin-bottom-6">
      <a href="/how-river-sea-groundwater-levels-are-measured">Find out how river, sea and groundwater levels are measured</a>.    
    </p>
    -->
  </div>
</div>
<!-- End -->

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/station/core.js"></script>
<script src="/public/javascripts/station/model.js"></script>
<script src="/public/javascripts/station/station.js"></script>
{% endblock %}
