
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-366-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_line-chart.scss</li>
      <li>sass/utilities/_tables.scss</li>
      <li>sass/objects/_typography.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->River Aire level at Gargrave - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->Sea level at Silloth - GOV.UK<!-- End -->&lt;/title&gt;</p>
    <p>&lt;title&gt;<!-- Start -->Groundwater level at Tilshead borehole - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="defra-flood-status govuk-!-margin-bottom-4">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Severe flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">There are currently 4 flood warnings and one alert in force at this location</a>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      River Aire level at Gargrave
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third"> 
    <p role="text" class="govuk-!-margin-bottom-6 govuk-!-padding-top-4" style="border-top:1px solid #ccc;">
      <span class="govuk-body govuk-!-margin-bottom-0">Status</span>
      <strong class="defra-flood-heading-l defra-flood-heading-l--normal">
        Normal
      </strong>
      <span class="govuk-body-s">
        0.43m to 2.80m <span class="govuk-visually-hidden">level here</span>
      </span>
    </p>
  </div>
  <div class="govuk-grid-column-one-third"> 
    <p role="text" class="govuk-!-margin-bottom-6 govuk-!-padding-top-4" style="border-top:1px solid #ccc">
      <span class="govuk-body govuk-!-margin-bottom-0">Trend</span>
      <strong class="defra-flood-heading-l">
        Falling
      </strong>
      <span class="govuk-body-s">36hour forecast is stable</span>
    </p>
  </div>
  <div class="govuk-grid-column-one-third"> 
    <p role="text" class="govuk-!-margin-bottom-6 govuk-!-padding-top-4" style="border-top:1px solid #ccc">
      <span class="govuk-body govuk-!-margin-bottom-0">Height</span>
      <strong class="defra-flood-heading-l">
        1.17m
      </strong>
      <span class="govuk-body-s">
        at <time datetime="">5:30am</time> today
      </span>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <figure class="defra-line-chart" aria-hidden="true" hidden>
      <figcaption class="govuk-heading-m govuk-!-margin-bottom-7">Height over the last 5 days and 36 hour forecast</figcaption>
      <div id="line-chart" class="defra-line-chart__container" role="presentation"></div>
    </figure>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">How levels here could affect nearby areas</h2>
    <table class="govuk-table defra-table-impact govuk-!-margin-bottom-6 govuk-!-font-size-16">
      <caption class="govuk-table__caption govuk-visually-hidden">Months and rates</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Level</th>
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" data-id="highest" data-level="5.03" data-name="Highest level on record">
          <th class="govuk-table__header defra-table-impact__cell--numeric" scope="row">5.03m</th>
          <td class="govuk-table__cell">Highest level on record</td>
          <td class="govuk-table__cell"></td>
        </tr>   
        <tr class="govuk-table__row" data-id="alert" data-level="2.80" data-name="Top of normal range">
          <th class="govuk-table__header defra-table-impact__cell--numeric" scope="row">2.80m</th>
          <td class="govuk-table__cell">Top of normal range. Above this flooding to low-laying land is possible</td>
          <td class="govuk-table__cell"></td>
        </tr>     
      </tbody>
    </table>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    <h2 class="govuk-heading-m">Technical details about this measuring station</h2>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value" id="location"><button class="defra-button-map defra-button-map--small" title="View map">Grid ref NY 12345 12345</button></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Site datum
        </dt>
        <dd class="govuk-summary-list__value">
          104.82<a href="" class="defra-link-meta" title="What this means">mAOD</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Station name
        </dt>
        <dd class="govuk-summary-list__value">
          Gargrave
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Normal range
        </dt>
        <dd class="govuk-summary-list__value">
          0.43m to 2.80m
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Station ID
        </dt>
        <dd class="govuk-summary-list__value">
          8083
        </dd>
      </div>
    </dl>
    <p class="govuk-text govuk-!-margin-bottom-6">
      <a href="/how-river-sea-groundwater-levels-are-measured">Find out how river, sea and groundwater levels are measured</a>.    
    </p>  
  </div>
</div>
<!-- End -->

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/station/core.js"></script>
<script src="/public/javascripts/station/model.js"></script>
<script src="/public/javascripts/station/station.js"></script>
{% endblock %}
