
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-155-(v1)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-status.scss</li>
      <li>sass/objects/_buttons.scss</li>
    </ul>
    <h2 class="govuk-heading-m">All scenarios</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Start -->
    <div class="defra-flood-status">
      <div class="defra-flood-status-item defra-flood-status-item--severe">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              14 severe flood warnings
            </a>
          </strong>
          <span>There is a danger to life</span>
        </div>
      </div>
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              16 flood warnings
            </a>
          </strong>
          <span>Flooding is expected</span>
        </div>
      </div>
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">
              16 flood alerts
            </a>
          </strong>
          <span>Flooding is possible</span>
        </div>
      </div>
      <p class="defra-flood-status__text">
        <a href="">12 flood warnings removed</a> within the last 24 hours
      </p>
    </div>
    <button id="map-btn" class="defra-button-map govuk-!-margin-bottom-4">View map</button>
    <!-- End -->
  </div>
</div>

{% endblock %}
