
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-279-Removed-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/components/_flood-status.scss</li>
      <li>sass/components/_updated.scss</li>
      <li>sass/components/_flood-tabs.scss</li>
      <li>sass/components/_context-footer.scss</li>
      <li>sass/components/_related-items.scss</li>
      <li>sass/objects/_buttons.scss</li>
    </ul>
    <p><a href="https://github.com/danleech-defra/service-refresh-assets/tree/master/app/assets">See assets on Github</a></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->Ginge Brook flood alert [warning] area - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="defra-flood-nav" id="browserBackContainer">
      <a href="" class="govuk-back-link">Back</a>
    </nav>
  </div>
</div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status govuk-!-margin-bottom-3">
      <div class="defra-flood-status-item defra-flood-status-item">
        <div class="defra-flood-status-item__text">
          The flood alert [warning] is no longer in place
        </div>
      </div>
    </div>
    <!-- if flood warning type -->
    <div class="defra-flood-status govuk-!-margin-bottom-3">
      <div class="defra-flood-status-item defra-flood-status-item--alert">
        <span class="defra-flood-status-item__icon"></span>
        <div class="defra-flood-status-item__text">
          The flood warning is no longer in place, but <a href="">a flood alert is in place</a> in the wider area
        </div>
      </div>
    </div>
    <!-- end flood warning type -->
    <h1 class="govuk-heading-xl">
      Ginge Brook flood alert [warning] area
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- If removed message -->
    <p>Lorem ipsum dolor sit amet...</p>
    <!-- end removed message -->
    <!-- default inactive content -->
    <p>[See inactive alert or inactive warning]</p>
    <!-- end default inactive content -->
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <p>Flood alert [warning] area: Ginge Brook, for the Steventon area down to and including Sutton Courtenay</p>
    <button id="map-btn" class="defra-button-map govuk-!-margin-bottom-4">See a map of the flood alert [warning] area</button><div class="defra-map" id="map-live"></div>
    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a>.</p>
    <h2 class="govuk-heading-m">Check river, sea or groundwater levels</h2>
    <p class="govuk-body"><a href="/river-and-sea-levels">Check river, sea or groundwater levels in this area</a>.  They can to help you to understand your risk of flooding now and over the next few days.</p>
    <!--
    <h2 class="govuk-heading-m">Check sea levels</h2>
    <p>Sea levels can help you understand your flood risk now and over the next few days.</p>
    <p><a href="/river-and-sea-levels">Check sea levels in the area</a></p>
    <h2 class="govuk-heading-m">Check groundwater levels</h2>
    <p>Groundwater levels can help you understand your flood risk now and over the next few days.</p>
    <p><a href="/river-and-sea-levels">Check groundwater levels in the area</a></p>
    -->
    <h2 class="govuk-heading-m govuk-!-margin-top-2">Flood forecast for the region</h2>
    {% set dayOne %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Today</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayTwo%}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Tomorrow</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayThree %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayFour %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Friday</h3>
    <p>Low risk from river flooding with a high likelihood of minor impacts</p>
    {% endset -%}
    {% set dayFive %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Saturday</h3>
    <p>Low risk from river flooding with a high likelihood of minor impacts</p>
    {% endset -%}
    {{ govukTabs({
      classes: 'defra-flood-tabs govuk-!-padding-top-2',
      items: [
        {
          label: "Today",
          id: "day-one",
          panel: {
            html: dayOne
          }
        },
        {
          label: "Tomorrow",
          id: "day-two",
          panel: {
            html: dayTwo
          }
        },
        {
          label: "Thursday",
          id: "day-three",
          panel: {
            html: dayThree
          }
        },
        {
          label: "Friday",
          id: "day-four",
          panel: {
            html: dayFour
          }
        },
        {
          label: "Saturday",
          id: "day-five",
          panel: {
            html: dayFive
          }
        }
      ]
    }) }}
    <p class="defra-flood-meta govuk-!-margin-bottom-4">
      <time datetime="">Updated 3:30pm on 29 March 2020</time><br/>
      Produced by the Met Office and Environment Agency
    </p>
    <div class="defra-context-footer">
      <h2 class="govuk-visually-hidden">Speak to someone</h2>
      <p>Call Floodline for advice about flooding from rivers, the sea and groundwater.</p>
      <p>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week.<br><a href="https://gov.uk/call-charges">Find out more about call charges</a>.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
    <aside class="defra-related-items" role="complementary" style="border-width:2px">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              View long term flood risk information
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<!-- End -->

{% endblock %}
