

{% extends "layout.html" %}

{% block pageTitle %}
  FIS-256-active-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_flood-nav.scss</li>
      <li>sass/components/_flood-status.scss</li>
      <li>sass/components/_updated.scss</li>
      <li>sass/components/_flood-tabs.scss</li>
      <li>sass/components/_context-footer.scss</li>
      <li>sass/components/_related-items.scss</li>
      <li>sass/objects/_buttons.scss</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page meta titles</h2>
    <p>&lt;title&gt;<!-- Start -->Flood risk: Warrington - GOV.UK<!-- End -->&lt;/title&gt;</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-padding-bottom-6">Page content</h2>
  </div>
</div>

<!-- Start sub nav - must go in beforeContent block -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="defra-flood-nav">
      <a href="/find-location" class="defra-flood-nav__link">Check another location</a>
    </nav>
  </div>
</div>
<!-- end sub nav-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Flood risk: Warrington
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="defra-flood-status govuk-!-margin-bottom-1">
      <div class="defra-flood-status-item defra-flood-status-item--warning">
        <span class="defra-flood-status-item__icon">
          <span class="govuk-visually-hidden">Flood warning</span>
        </span>
        <div class="defra-flood-status-item__text">
          <strong>
            <a href="">Flood warning for [name]</a>
          </strong>
          <span class="defra-flood-status-item__text-secondary">Flooding is expected</span>
        </div>
      </div>
    </div>
    <p><a href="">3 flood alerts</a> are in this area where some flooding is possible.</p>
    <!--
    <p class="defra-flood-meta govuk-!-margin-bottom-6">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    -->
    <button id="map-btn" class="defra-button-map">View map of flood warning and alert areas</button>
    <p class="defra-flood-meta defra-flood-meta--border govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      Updated <time datetime="2020-03-30T08:55:00.000Z">9:55am on 30 March 2020</time>
    </p>
    <p><a href="https://www.gov.uk/sign-up-for-flood-warnings">Get flood warnings by phone, text or email</a></p>
    <!-- River and sea levels -->
    <h2 class="govuk-heading-m">Check river, sea or groundwater levels</h2>
    <p>They can give you a better understanding of your flood risk.</p>
    <p><a href="/river-and-sea-levels">Find a river, sea or groundwater level in this area</a></p> 
    <!-- end river and sea levels -->
    <!-- Regional forecast -->
    <h2 class="govuk-heading-m govuk-!-margin-top-2">Flood forecast for the region</h2>
    {% set dayOne %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Today</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayTwo%}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Tomorrow</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayThree %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Thursday</h3>
    <p>Medium risk from river flooding with a high likelihood of significant impacts.</p>
    {% endset -%}
    {% set dayFour %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Friday</h3>
    <p>Low risk from river flooding with a high likelihood of minor impacts</p>
    {% endset -%}
    {% set dayFive %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Saturday</h3>
    <p>Low risk from river flooding with a high likelihood of minor impacts</p>
    {% endset -%}
    {{ govukTabs({
      classes: 'defra-flood-tabs govuk-!-padding-top-2',
      items: [
        {
          label: "Today",
          id: "day-one",
          panel: {
            html: dayOne
          }
        },
        {
          label: "Tomorrow",
          id: "day-two",
          panel: {
            html: dayTwo
          }
        },
        {
          label: "Thursday",
          id: "day-three",
          panel: {
            html: dayThree
          }
        },
        {
          label: "Friday",
          id: "day-four",
          panel: {
            html: dayFour
          }
        },
        {
          label: "Saturday",
          id: "day-five",
          panel: {
            html: dayFive
          }
        }
      ]
    }) }}
    <p class="defra-flood-meta govuk-!-margin-bottom-4">
      <time datetime="">Updated 3:30pm on 29 March 2020</time><br/>
      Produced by the Met Office and Environment Agency
    </p>
    <!-- end regional forecast -->
    <div class="defra-context-footer">
      <h2 class="govuk-visually-hidden">Speak to someone</h2>
      <p>Call Floodline for advice about flooding from rivers, the sea and groundwater.</p>
      <p>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week<br><a href="https://gov.uk/call-charges">Find out more about call charges</a></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="defra-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="/plan-ahead-for-flooding">
              How to plan ahead for flooding
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/what-to-do-in-a-flood">
              What to do in a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/recovering-after-a-flood">
              How to recover after a flood
            </a>
          </li>
          <li>
            <a class="govuk-link" href="https://flood-test.aws.defra.cloud/long-term-flood-risk">
              Check your long term flood risk
            </a>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/report-flood-cause">
              Report a flood
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<!-- End -->

{% endblock %}

