
{% extends "layout.html" %}

{% block pageTitle %}
  FIS-375-(draft)
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>List any sass, png's, svgs etc that the cpomponent requires</li>
    </ul>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Scenarios</h2>
    {{ govukTable({
      caption: "",
      firstCellIsHeader: false,
      head: [
        {
          classes: "govuk-!-width-one-quarter",
          text: ""
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "(a)"
          },
          {
            text: "Address search function not available"
          }
        ]
      ]
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Requires</h2>
    <ul class="govuk-list">
      <li>sass/components/_related-items.scss</li>
      <li>sass/components/_updated.scss</li>
    </ul>
    <h2 class="govuk-heading-m">All scenarios</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="browserBackContainer">
    <nav><a href="" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-right-2">Back</a></nav>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Sorry, there is a problem with the service
    </h1>
    <p class="govuk-!-padding-top-4">Try again later, or <a href="#">check the flood risk for England</a>.</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-visually-hidden">Speak to someone</h2>
      <p>Call Floodline for advice about flooding from rivers, the sea and groundwater.</p>
      <p>Telephone: 0345 988 1188<br>Textphone: 0345 602 6340<br>Open 24 hours a day, 7 days a week.<br><a href="https://gov.uk/call-charges">Find out more about call charges</a>.</p>
    </div>
</div>

{% endblock %}
