
{% extends "layout.html" %}

{% block pageTitle %}
  Service refresh content and design assets
{% endblock %}

{% block content %}
<style>
  .govuk-table tr th:first-child {
    white-space:nowrap;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Service refresh assets
    </h1>
    <p>
      This resource is for developing and sharing content and front end assets for the service refresh project.
    </p>
    <div class="govuk-inset-text">
      It is not a protoype for testing with users and it is not a prescriptive reference for testing.
    </div>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to use this resource
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"><strong>Product, BA and Research</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Browse assets by reference</li>
        </ul>
        <p class="govuk-body"><strong>Development</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Copy and paste markup not just text as this may contain the required attributes to ensure accessibility</li>
          <li>Where new or modified CSS is required details will be stated</li>
        </ul>
        <p class="govuk-body"><strong>Content and Design</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Create an entry in the contents table, linking to a corresponding page</li>
          <li>Add a hyperlink to this page in the corresposnding JIRA ticket</li>
          <li>Develop content or front end assets within the corresponding page working closely with development</li>
          <li>Subsequent iterations will require changes to the user story and acceptance criteria or a new JIRA ticket number</li>
        </ul>
      </div>
    </details>   
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">  
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-margin-bottom-2">Assets</caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">JIRA reference</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-1">Asset 1</a>
          </th>
          <td class="govuk-table__cell">
            Start page
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-2">Asset 2</a>
          </th>
          <td class="govuk-table__cell">
            National view static content and layout
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-3">Asset 3</a>
          </th>
          <td class="govuk-table__cell">
            National view alerts and warnings
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 5
          </th>
          <td class="govuk-table__cell">
            Location summary page examples and dynamic components<br/>
            <a href="/asset-5">Page example</a>,
            <a href="/asset-5b">Page example (No warnings)</a>,
            <a href="/asset-5c">Banner</a>, 
            <a href="/asset-5d">Text</a>, 
            <a href="/asset-5e">Map link</a>,
            <a href="/asset-5f">No warnings</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 6
          </th>
          <td class="govuk-table__cell">
            Find location screen<br/>
            <a href="/asset-6">Page</a>,
            <a href="/asset-6b">Page with error</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 7
          </th>
          <td class="govuk-table__cell">
            Target area states<br/>
            <a href="/asset-7">Alert inactive</a>,
            <a href="/asset-7b">Alert active</a>, 
            <a href="/asset-7c">Warning inactive</a>, 
            <a href="/asset-7d">Warning active</a>, 
            <a href="/asset-7e">Severe</a>,
            <a href="/asset-7f">Removed</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 8
          </th>
          <td class="govuk-table__cell">
            Station page design and content (v1)<br/>
            <a href="/asset-8">Page 1</a>, 
            <a href="/asset-8b">Page 2</a>, 
            <a href="/asset-8c">Page 3</a>, 
            <a href="/asset-8d">Page 4</a>, 
            <a href="/asset-8e">Page 5</a>, 
            <a href="/asset-8f">Page 6</a>,
            <a href="/asset-8g">Page 7</a>,
            <a href="/asset-8h">Page 8</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-9">Asset 9</a>
          </th>
          <td class="govuk-table__cell">
            Nearby alerts and warnings
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-10">Asset 10</a>
          </th>
          <td class="govuk-table__cell">
            River, sea and groundwater levels list
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 11
          </th>
          <td class="govuk-table__cell">
            Location summary outlook component<br/>
            <a href="/asset-11a">Felixstowe (1)</a>, <a href="/asset-11b">Doncaster (1)</a>, <a href="/asset-11c">Felixstowe (2)</a>, <a href="/asset-11d">Doncaster (2)</a>, <a href="/asset-11e">Felixstowe (3)</a>, <a href="/asset-11f">Doncaster (3)</a><br/>
            <span class="govuk-!-padding-top-2" style="display:inline-block">Map images</span><br/>
            <a href="/public/images/resources/locations.png">Locations</a>, <a href="/public/images/resources/felixstowe-today.png">Felixstowe today</a>, <a href="/public/images/resources/doncaster-today.png">Doncaster today</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-12">Asset 12</a>
          </th>
          <td class="govuk-table__cell">
            Alerts and Warnings search
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-14">Asset 14</a>
          </th>
          <td class="govuk-table__cell">
            <a href="/asset-14">Beta banners</a>, 
            <a href="/asset-14b">About the beta page</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-15">Asset 15</a>
          </th>
          <td class="govuk-table__cell">
            Feedback component
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 16
          </th>
          <td class="govuk-table__cell">
            Problem with the service pages<br/>
            <a href="/asset-16">Beta only</a>, 
            <a href="/asset-16b">Beta and FIS</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-17">Asset 17</a>
          </th>
          <td class="govuk-table__cell">
            Cookie banners
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-18">Asset 18</a>
          </th>
          <td class="govuk-table__cell">
            Cookie preferences
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-19">Asset 19</a>
          </th>
          <td class="govuk-table__cell">
            Cookie details
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 20
          </th>
          <td class="govuk-table__cell">
            /find-location (post) and /location (get) - Bing error responses<br/>
            <a href="/asset-20">Cant find location</a> and 
            <a href="/asset-20b">Bing error</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-21">Asset 21</a>
          </th>
          <td class="govuk-table__cell">
            404 - Page not found
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-22">Asset 22</a>
          </th>
          <td class="govuk-table__cell">
            Map info panels (tooltips)
          </td>
        </tr>   
        
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-23">Asset 23</a>
          </th>
          <td class="govuk-table__cell">
            All measurements list
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 24
          </th>
          <td class="govuk-table__cell">
            Station page iteration (v2)<br/>
            <a href="/asset-24">Page 1</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-25">Asset 25</a>
          </th>
          <td class="govuk-table__cell">
            About water measurements page
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
