
{% extends "layout.html" %}

{% block pageTitle %}
  Service refresh content and design assets
{% endblock %}

{% block content %}
<style>
  .govuk-table tr th:first-child {
    white-space:nowrap;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Service refresh assets
    </h1>
    <p>
      This resource is for developing and sharing content and front end assets for the service refresh project.
    </p>
    <div class="govuk-inset-text">
      It is not a protoype for testing with users.
    </div>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to use this resource
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"><strong>Product, BA and Research</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Browse assets by JIRA ticket > Version</li>
        </ul>
        <p class="govuk-body"><strong>Development</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Only assets with a version number are ready for development</li>
          <li>Where new or modified CSS is required details will be stated</li>
        </ul>
        <p class="govuk-body"><strong>Content and Design</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Create an entry in the contents table, linking to a corresponding page</li>
          <li>Add a hyperlink to this page in the corresposnding JIRA ticket</li>
          <li>While in draft ensure the link and route include (draft)</li>
          <li>Develop content or front end assets within the corresponding page</li>
          <li>When ready for dev replace (draft) with a version number eg. (v1) and update the JIRA ticket accordingley</li>
          <li>Once an asset has a version number do <strong>no more work</strong> on this version</li>
          <li>Subsequent iterations will require changes to the user story and acceptance criteria or a new JIRA ticket number</li>
        </ul>
      </div>
    </details>   
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">  
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-margin-bottom-2">Assets</caption>
      <thead class="govuk-table__head govuk-visually-hidden">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">JIRA reference</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-1">Asset 1</a>
          </th>
          <td class="govuk-table__cell">
            Start page
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-152-draft">FIS-152-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            National view static content and layout
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-155-draft">FIS-155-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            National view alerts and warnings
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-208-draft">FIS-208-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            Location outside England
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 5
          </th>
          <td class="govuk-table__cell">
            Location summary page examples and dynamic components<br/>
            <a href="/asset-5">Page example</a>,
            <a href="/asset-5b">Page example (No warnings)</a>,
            <a href="/asset-5c">Banner</a>, 
            <a href="/asset-5d">Text</a>, 
            <a href="/asset-5e">Map link</a>,
            <a href="/asset-5f">No warnings</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Asset 6
          </th>
          <td class="govuk-table__cell">
            Find location screen<br/>
            <a href="/asset-6">Page</a>,
            <a href="/asset-6b">Page with error</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            FIS-279-(draft)
          </th>
          <td class="govuk-table__cell">
            Target area states<br/>
            <a href="/fis-279-alert-inactive-draft">Alert inactive</a>,
            <a href="/fis-279-alert-active-draft">Alert active</a>, 
            <a href="/fis-279-warning-inactive-draft">Warning inactive</a>, 
            <a href="/fis-279-warning-active-draft">Warning active</a>, 
            <a href="/fis-279-severe-draft">Severe</a>,
            <a href="/fis-279-removed-draft">Removed</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            FIS-366-(v1)
          </th>
          <td class="govuk-table__cell">
            Station page design and content<br/>
            <a href="/fis-366-page-1-v1">Page 1</a>, 
            <a href="/fis-366-page-2-v1">Page 2</a>, 
            <a href="/fis-366-page-3-v1">Page 3</a>, 
            <a href="/fis-366-page-4-v1">Page 4</a>, 
            <a href="/fis-366-page-5-v1">Page 5</a>, 
            <a href="/fis-366-page-6-v1">Page 6</a>,
            <a href="/fis-366-page-7-v1">Page 7</a>,
            <a href="/fis-366-page-8-draft">Page 8</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-373-draft">FIS-373-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            Nearby alerts and warnings
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-375-draft">FIS-375-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            Address search function not available
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-387-draft">FIS-387-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            River, sea and groundwater levels
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-410-draft">FIS-410-(draft)</a>
          </th>
          <td class="govuk-table__cell">
            Location summary outlook component
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/fis-459-v1">FIS-459-(v1)</a>
          </th>
          <td class="govuk-table__cell">
            Alerts and Warnings search
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/asset-14">Asset 14</a>
          </th>
          <td class="govuk-table__cell">
            Feedback component
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
